<div class=" navbar-expand-lg" id="navbar-right">
    <!-- *ngIf="user?.role==1 && auth.haveLogin()" -->
    <!-- [ngClass]="{'active': selectedItem == 1}"
        (click)="listClick($event, 1)" -->
    <button routerLink="/member/post/list" class="btn btn-success css-b" type="button">
        Quản Lý Bài Viết
    </button>
    <button routerLink="/member/collection-list" class="btn btn-success css-b" type="button">
        Quản Lý Bộ Sưu Tập
    </button>
    <button routerLink="/member/schdule-list" class="btn btn-success css-b" type="button">
        Tạo Lịch Trình
    </button>
</div>
<router-outlet></router-outlet>