<!-- start list schedule -->
<div id="schedule">
    <div style="text-align: center;" id="header-schedule">
        <h3>Lịch Trình Của Bạn</h3>
        <h6>Tổng hợp các lịch trình từ khi bạn tham gia website của chúng tôi.</h6>
    </div>
    <div class="row">
        <button type="button" routerLink="/member/schedule/new">Tạo Lịch trình</button>
    </div>
    <div class="row" style="padding-left: 37px; ">
        <div style="padding-bottom: 20px;" class="col-md-3">
            <div class="place-image">
                <a href=""><img src=""></a>
                <h5 style="color: black;padding-top: 150px;">Tên Lịch trình</h5>
            </div>
        </div>
    </div>
    <div id="schdule-footer">
        <button type="button">Xem thêm</button>
    </div>
</div>
<!-- end list schedule -->