<!-- start header -->
<header>
    <div class="shop-header-container">
        <div class="shop-header-inner">
            <div class="container">
                <div class="row">
                    <!-- start logo -->
                    <div class="col-sm-2 col-md-2 col-xs-12">
                        <div class="shop-logo">
                            <a href=""><img alt="Travel" title="Travel" src="../../assets/img/logo.png">Travel</a>
                        </div>
                    </div>
                    <!-- end logo -->
                    <!-- start search -->
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <div class="shop-top-search">
                            <div id="shop-search">
                                <form>
                                    <div class="input-group">
                                        <select name="cetegory" class="cate-dropdown">
                                            <option>Danh mục sản phẩm</option>
                                            <option>a</option>
                                            <option>b</option>
                                            <option>c</option>
                                            <option>d</option>
                                            <option>e</option>
                                        </select>
                                        <input type="text" class="form-control border-0"
                                            placeholder="Bạn cần tìm gì... " name="search ">
                                        <button type="button" class="shop-search-button"><i
                                                class="fa fa-search "></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end search -->
                    <!-- start cart -->
                    <div class="col-xs-12 col-sm-4 col-md-3 ">
                        <div class="shop-cart ">
                            <div>
                                <a href="#">
                                    <div class="cart-icon ">
                                        <i class="fa fa-cart-arrow-down "></i>
                                    </div>
                                    <div class="cart-total ">
                                        <div class="shop-cart-total ">
                                            <span>3</span>
                                        </div>
                                    </div>
                                    <div class="shop-cart-inner ">
                                        <span class="shop-cart-title ">Giỏ hàng</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end cart -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- start nav -->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="shop-nav-left-container">
                    <div class="shop-nav-left-title">
                        <h3>
                            <span>DANH MỤC SẢN PHẨM</span>
                        </h3>
                        <i class="fa fa-reorder"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-11 col-md-9 col-sm-6">
                <div class="shop-nav-right-menu">
                    <ul>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end nav -->

<!-- start slider -->
<div class="shop-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="shop-nav-left-category">
                    <ul>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9">
                <div class="shop-slider-banner">
                    <p>Dễ dàng mua sắm</p>
                    <p>Cung cấp mọi thứ cho chuyến đi của bạn</p>
                    <p>Thanh toán đơn giản</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end slider -->

<!-- start shop-service area -->
<div class="shop-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="shop-service-wrapper">
                    <div class="shop-service-text">
                        <div class="shop-icon-wrapper">
                            <i class="fa fa-paper-plane shop-service-icon"></i>
                        </div>
                        <div class="shop-service-wrapper">
                            <h3>Giao hàng nhanh</h3>
                            <p>Miễn phí phạm vi 10km</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="shop-service-wrapper">
                    <div class="shop-service-text">
                        <div class="shop-icon-wrapper">
                            <i class="fa fa-refresh shop-service-icon"></i>
                        </div>
                        <div class="shop-service-wrapper">
                            <h3>Giao dịch an toàn</h3>
                            <p>Credit/Banking/Debit Card</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="shop-service-wrapper">
                    <div class="shop-service-text">
                        <div class="shop-icon-wrapper">
                            <i class="fa fa-umbrella shop-service-icon"></i>
                        </div>
                        <div class="shop-service-wrapper">
                            <h3>Tổng đài tư vấn</h3>
                            <p>(+123) 123456789</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="shop-service-wrapper">
                    <div class="shop-service-text">
                        <div class="shop-icon-wrapper">
                            <i class="fa fa-thumbs-up shop-service-icon"></i>
                        </div>
                        <div class="shop-service-wrapper">
                            <h3>Đảm bảo chất lượng</h3>
                            <p>Cam kết hàng chính hãng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start shop-service arae -->

<!-- start list product -->
<div class="shop-product-clothes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><b>Bán chạy nhất</b></h2>
                <div id="clothesCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#clothesCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#clothesCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Apple iPad</h4>
                                            <p class="item-price"><span>$369.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Sony Headphone</h4>
                                            <p class="item-price"> <span>$23.99</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Macbook Air</h4>
                                            <p class="item-price"> <span>$649.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>
                                            <p class="item-price"><span>$250.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Sony Play Station</h4>
                                            <p class="item-price"><span>$269.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Macbook Pro</h4>
                                            <p class="item-price"><span>$869.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Bose Speaker</h4>
                                            <p class="item-price"><span>$99.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Samsung Galaxy S8</h4>
                                            <p class="item-price"><span>$569.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#clothesCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#clothesCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop-product-glasses">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><b>Mới nhất</b></h2>
                <div id="glassesCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#glassesCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#glassesCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Apple iPad</h4>
                                            <p class="item-price"><span>$369.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Sony Headphone</h4>
                                            <p class="item-price"> <span>$23.99</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Macbook Air</h4>
                                            <p class="item-price"> <span>$649.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/logo.png" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>
                                            <p class="item-price"><span>$250.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Sony Play Station</h4>
                                            <p class="item-price"><span>$269.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/logo.png" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Macbook Pro</h4>
                                            <p class="item-price"><span>$869.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/img_login.PNG" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Bose Speaker</h4>
                                            <p class="item-price"><span>$99.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../assets/img/logo.png" class="img-responsive img-fluid"
                                                alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Samsung Galaxy S8</h4>
                                            <p class="item-price"><span>$569.00</span></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#glassesCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#glassesCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end list product -->

<!-- start footer -->
<div class="shop-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

            </div>
        </div>
    </div>
</div>
<!-- end footer -->