<header>
    <div class="shop-header-container">
        <div class="shop-header-inner">
            <div class="container">
                <div class="row">
                    <!-- start logo -->
                    <div class="col-sm-2 col-md-2 col-xs-12">
                        <div class="shop-logo">
                            <a href=""><img alt="" title="Travel" src="../../../assets/img/logo.png"></a>
                        </div>
                    </div>
                    <!-- end logo -->
                    <!-- start search -->
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <div class="shop-top-search">
                            <div id="shop-search">
                                <form>
                                    <div class="input-group">
                                        <select name="cetegory" class="cate-dropdown">
                                            <option>Danh mục sản phẩm</option>
                                            <option>a</option>
                                            <option>b</option>
                                            <option>c</option>
                                            <option>d</option>
                                            <option>e</option>
                                        </select>
                                        <input type="text" class="form-control border-0"
                                            placeholder="Bạn cần tìm gì... " name="search ">
                                        <button type="button" class="shop-search-button"><i
                                                class="fa fa-search "></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end search -->
                    <!-- start cart -->
                    <div class="col-xs-12 col-sm-4 col-md-3 ">
                        <div class="shop-cart ">
                            <div>
                                <a routerLink="/product/card">
                                    <div class="cart-icon">
                                        <i class="fa fa-cart-arrow-down"></i>
                                    </div>
                                    <div class="cart-total">
                                        <div class="shop-cart-total">
                                            <span>{{count}}</span>
                                        </div>
                                    </div>
                                    <a routerLink="/product/card" id="btnGioHang">
                                        <div class="shop-cart-inner ">
                                            <span class="shop-cart-title "><b>Giỏ hàng</b></span>
                                        </div>
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end cart -->
                </div>
            </div>
        </div>
    </div>
</header>