<div class="row col-md-12 css-hea">
  <div class="col-md-2">
    <a class=" nav-link">
      <img style="width: 280px; height: 90px;" src="../../../assets//img//logo_web.PNG" />
    </a>
  </div>

  <div class="col-md-7 pd-t-15 p-r">
    <a class="bpt-hotline pull-right">
      <span class="fa fa-phone  css-span">
        0968692487 &nbsp;
      </span>
      <span class="fa fa-phone  css-span">
        0968692487
      </span>
      <br>
      <span class="fa fa-envelope css-span">
        phamkien14091998@gmail.com
      </span>
    </a>
  </div>

  <div class="col-md-3" id="css-l">
    <ul class="navbar-nav">
      <li *ngIf="!auth.haveLogin()" class="nav-item">
        <a routerLink="/login" class="nav-link btn btn-success css-a">Đăng Nhập</a>
      </li>
      <li *ngIf="!auth.haveLogin()" class="nav-item">
        <a routerLink="/register" class="nav-link btn btn-success css-a-dk">Đăng Ký</a>
      </li>

      <li *ngIf="auth.haveLogin()" class="nav-item">
        <a class="nav-link btn btn btn-info btn-outline-info css-info">{{user?.user_name}} </a>
      </li>
      <li *ngIf="auth.haveLogin()" class="nav-item">
        <a routerLink="/logout" (click)="auth.logout()" class="nav-link btn btn-danger css-a">Đăng Xuất</a>
      </li>
    </ul>
  </div>

</div>

<router-outlet></router-outlet>