<div class="row col-md-12 css-hea">
  <div class="col-md-2">
    <a class=" nav-link">
      <img style="width: 280px; height: 90px;" src="../../../assets//img//logo_web.PNG" />
    </a>
  </div>

  <div class="col-md-7 pd-t-15 p-r">
    <a class="bpt-hotline pull-right">
      <span class="fa fa-phone  css-span">
        0968692487 &nbsp;
      </span>
      <span class="fa fa-phone  css-span">
        0968692487
      </span>
      <br>
      <span class="fa fa-envelope css-span">
        phamkien14091998@gmail.com
      </span>
    </a>
  </div>

  <div class="col-md-3" id="css-l">
    <ul class="navbar-nav">
      <li *ngIf="!auth.haveLogin()" class="nav-item">
        <a routerLink="/login" class="nav-link btn btn-success css-a">Đăng Nhập</a>
      </li>
      <li *ngIf="!auth.haveLogin()" class="nav-item">
        <a routerLink="/register" class="nav-link btn btn-success css-a-dk">Đăng Ký</a>
      </li>

      <li *ngIf="auth.haveLogin()" class="nav-item">
        <a class="nav-link btn btn btn-info btn-outline-info css-info">{{user?.user_name}} </a>
      </li>
      <li *ngIf="auth.haveLogin()" class="nav-item">
        <a routerLink="/logout" (click)="auth.logout()" class="nav-link btn btn-danger css-a">Đăng Xuất</a>
      </li>
    </ul>
  </div>

</div>


<!-- menu nếu đăng nhập = menber hoạc không đăng nhập thì hiện -->
<nav *ngIf="user?.role==0 || !auth.haveLogin()" class="navbar navbar-expand-lg">
  <div class="col-md-4" id="navbar-left">
    <a style="font-size: 40px;" class="navbar-brand" routerLink="/">HOME TRAVEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="col-md-4" id="navbar-center">
    <i class="fa fa-shopping-basket" style="font-size:24px;"></i><button class="navbar-cart" routerLink="/product"
      type="button">Cửa
      hàng</button>
  </div>

  <div class="col-md-4" id="navbar-right">
    <ul class="navbar-nav">
      <li *ngIf="user?.role==0 && auth.haveLogin()" class="nav-item navbar-right-button">
        <a routerLink="/member/info/detail/{{user?.user_name}}" style="background-color: #55d65d;" class="nav-link">Chức
          năng người dùng</a>
      </li>

    </ul>
  </div>
</nav>

<!-- phần nội dung chính của trang web -->
<router-outlet></router-outlet>