<div class="body-product">
    <div class="row">
        <div class=" col-md-12">
            <fieldset class="css-fieldset" style="background-color: #ffff;">
                <legend class="col-md-12" style="background-color: #ffff;">Sửa ĐỊA ĐIỂM</legend>
                <div class="css-h row col-md-12">
                    <form [formGroup]="updatePlaceForm" (ngSubmit)="updatePlace()">
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3 text-center">Tên Địa Điểm </span>
                            <input class="css_inp col-md-9 " type="text" placeholder="nhập tên địa điểm" id=""
                                name="title" formControlName="title" />
                            <!-- <div *ngIf="isInvalidForm('title')" class="alert alert-danger col-md-12">
                                <div *ngIf="isRequired('title')">
                                    Yêu cầu nhập tên địa điểm .
                                </div>
                            </div> -->

                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3 text-center">Thời Gian Mở </span>
                            <select class="css_inp col-md-9 form-control" id="date_start" title="--- Chọn giờ mở ---"
                                formControlName="date_start">
                                <option *ngFor="let date_st of date_array" value="{{date_st}}">
                                    {{date_st}}
                                </option>
                            </select>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3 text-center">Thời Gian Đóng </span>
                            <select class="css_inp col-md-9 form-control" id="date_end" title="--- Chọn giờ đóng ---"
                                formControlName="date_end">
                                <option *ngFor="let date_st of date_array" value="{{date_st}}">
                                    {{date_st}}
                                </option>
                            </select>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Văn Hóa</span>
                            <textarea class=" col-md-9 form-control" type="text" rows="5" placeholder="nhập văn hóa" id=""
                                name="cultural" formControlName="cultural">
                            </textarea>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Thời Tiết</span>
                            <textarea class=" col-md-9 form-control" type="text" rows="5" placeholder="nhập thời tiết" id=""
                                name="weather" formControlName="weather">
                            </textarea>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Phương Tiện Đi Lại</span>
                            <textarea class=" col-md-9 form-control" type="text" rows="5"
                                placeholder="nhập phương tiện có thể đi lại trong đó" id="" name="vehicle"
                                formControlName="vehicle">
                            </textarea>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Ẩm Thực</span>
                            <textarea class=" col-md-9 form-control" type="text" rows="5" placeholder="nhập ẩm thực nơi đó" id=""
                                name="cuisine" formControlName="cuisine">
                            </textarea>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Lời Khuyên</span>
                            <textarea class=" col-md-9 form-control" type="text" rows="5"
                                placeholder="nhập lời khuyên khi đến địa điểm" id="" name="advice"
                                formControlName="advice">
                            </textarea>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Hình Ảnh </span>
                            <input class="css_inp col-md-9 form-control" type="file" placeholder="" id=""
                                (change)="onFileSelect($event)" name="profile" multiple />

                            <span style="margin-top: 5px; margin-left: 290px; color: red;" class="col-md-12 ">
                                Nếu sửa : chọn ít nhất 1 hình và nhiều nhất 3 hình ảnh
                            </span>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Tỉnh</span>
                            <select class="css_inp col-md-9 form-control" id="province_id" title="--chọn tỉnh--"
                                formControlName="province_id">

                                <!-- <ng-container *ngFor="let data of data_portfolio"> -->
                                <option *ngFor="let data of dataProvince" value="{{data.province_id}}">
                                    {{data.province_name}}
                                </option>
                                <!-- </ng-container> -->
                            </select>
                        </div>

                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Mô Tả </span>
                            <textarea class=" col-md-9 form-control" type="text" rows="8" placeholder="nhập mô tả" id=""
                                formControlName="description">

                            </textarea>
                        </div>

                        <div class="row col-md-12 css-bu">
                            <div class="col-md-5">
                            </div>
                            <button type="submit" class="btn btn-success col-md-2">Cập Nhật</button>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>

</div>