<div class="body-product">
    <div class="row">
        <div class=" col-md-12">
            <fieldset class="css-fieldset" style="background-color: #ffff;">
                <legend class="col-md-12" style="background-color: #ffff;">Sửa SẢN PHẨM</legend>
                <div class="css-h row col-md-12">
                    <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct()">
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3 text-center">Tên Sản Phẩm </span>
                            <input class="css_inp col-md-9 form-control" type="text" placeholder="nhập tên sản phẩm"
                                id="" name="product_name" formControlName="product_name" />
                            <!-- <div *ngIf="isInvalidForm('product_name')" class="alert alert-danger col-md-12">
                                <div *ngIf="isRequired('product_name')">
                                    Yêu cầu nhập tên sản phẩm .
                                </div>
                            </div> -->

                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3 text-center">Giá </span>
                            <input class="css_inp col-md-9 form-control" type="text" placeholder="nhập giá sản phẩm"
                                id="" name="price" formControlName="price" />
                            <!-- <div *ngIf="isInvalidForm('price')" class="alert alert-danger col-md-12">
                                <div *ngIf="isRequired('price')">
                                    Yêu cầu nhập giá sản phẩm .
                                </div>
                            </div> -->
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Số Lượng </span>
                            <input class="css_inp col-md-9 form-control" type="text" placeholder="nhập số lượng " id=""
                                name="quantity" formControlName="quantity" />
                            <!-- <div *ngIf="isInvalidForm('quantity')" class="alert alert-danger col-md-12">
                                <div *ngIf="isRequired('quantity')">
                                    Yêu cầu nhập số lượng sản phẩm .
                                </div>
                            </div> -->
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Hình Ảnh </span>
                            <input class="css_inp col-md-9 form-control" type="file" placeholder="" id=""
                                (change)="onFileSelect($event)" name="profile" multiple />

                            <span style="margin-top: 5px; margin-left: 290px; color: red;" class="col-md-12 ">
                                Nếu sửa : chọn ít nhất 1 hình và nhiều nhất 3 hình ảnh
                            </span>
                        </div>
                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Thể Loại </span>
                            <select class="css_inp col-md-9 form-control" id="portfolio_id" title="--chọn thể loại--"
                                formControlName="portfolio_id">

                                <!-- <ng-container *ngFor="let data of data_portfolio"> -->
                                <option *ngFor="let data of data_portfolio" value="{{data.portfolio_id}}">
                                    {{data.portfolio_name}}
                                </option>
                                <!-- </ng-container> -->
                            </select>
                        </div>

                        <div class="row col-md-12 pd-t">
                            <span class="col-md-3  text-center">Mô Tả </span>
                            <textarea class=" col-md-9 form-control" type="text" rows="8" placeholder="nhập mô tả" id=""
                                formControlName="description">

                            </textarea>
                        </div>
                        <!-- [(ngModel)]="data_detailProduct.description" -->

                        <div class="row col-md-12 css-bu">
                            <div class="col-md-4">
                            </div>
                            <button type="submit" class="btn btn-success col-md-2 hoverUpdate">Cập Nhật</button>
                            <button routerLink="/manager/product" type="button" style="margin-left: 10px;"
                                class="btn btn-secondary col-md-2 hoverCancel">Hủy</button>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>

</div>