<div id="payment">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <form [formGroup]="paymentForm" (ngSubmit)="thanhToan()">
                    <h3 class="title">1. Chọn hình thức giao hàng</h3>
                    <div class="hinhThucGiaoHang">
                        <div class="form-delivery">
                            <!-- <div class="label-no-shippments__etaText">Giao vào Thứ hai, 25/05</div> -->
                            <div class="input">
                                <label><input class="formOfDelivery" type="radio" value="0" name="formOfDelivery"
                                        formControlName="formOfDelivery" [checked]='true'></label>
                            </div>
                            <div class="hinhthuc"><span class="no-shipping-fee">Miễn phí</span><span
                                    class="method-name">Giao tiêu chuẩn (4-5) ngày</span></div>
                        </div>

                        <div class="form-delivery">
                            <!-- <div class="label-no-shippments__etaText">Giao vào Thứ hai, 25/05</div> -->
                            <div class="input">
                                <label><input class="formOfDelivery" type="radio" value="22000" name="formOfDelivery"
                                        formControlName="formOfDelivery"></label>
                            </div>
                            <div class="hinhthuc"><span class="shipping-3days">22.000 VND</span><span
                                    class="method-name">Giao trong 3 ngày</span></div>
                        </div>

                        <div class="form-delivery">
                            <!-- <div class="label-no-shippments__etaText">Giao vào Thứ hai, 25/05</div> -->
                            <div class="input">
                                <label><input class="formOfDelivery" type="radio" value="39000" name="formOfDelivery"
                                        formControlName="formOfDelivery"></label>
                            </div>
                            <div class="hinhthuc"><span class="shipping-1day">39.000 VND</span><span
                                    class="method-name">Giao trong 1 ngày</span></div>
                        </div>
                    </div>

                    <h3 class="title">2. Chọn hình thức thanh toán</h3>
                    <div class="hinhThucGiaoHang">
                        <div>
                            <input type="radio" name="methods" formControlName="methods" value="tienmat">
                            <span class="label">Thanh toán tiền mặt khi nhận hàng</span>
                        </div>
                        <div>
                            <input type="radio" name="methods" formControlName="methods" value="paypal">
                            <span class="label">Thanh toán paypal</span>
                        </div>
                    </div>

                    <h3 class="title">3. Ghi chú</h3>
                    <div class="ghiChu">
                        <textarea formControlName="note"></textarea>
                    </div>

                    <div id="payment-button">
                        <button type="submit">Thanh toán</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="payment-address">
                    <div class="title"><span>Địa chỉ giao hàng</span><a
                            routerLink="/member/info/update/{{dataUser.user_id}}">Sửa</a></div>
                    <div class="address">
                        <span class="name">{{dataUser.full_name}}</span>
                        <span class="street">{{dataUser.address}}</span>
                        <span class="phone">Điện thoại: {{dataUser.phone_number}}</span>
                    </div>
                </div>

                <div class="payment-detail">
                    <div class="title">
                        <span>Đơn hàng ({{dataPaymentCash.length}} sản phẩm)</span><a routerLink="/product/card"
                            class="update-cart">Sửa</a>
                    </div>
                    <div class="cart">
                        <div class="product" *ngFor="let product of dataPaymentCash">
                            <div class="OrderSummary__StyledItem-ue7sy3-1 iylcMU">
                                <div class="info"><strong class="qty">{{product.qty}} x </strong>
                                    <a routerLink="/product/detail/{{product.id}}" target="_blank"
                                        class="product-name">{{product.name}}</a>
                                </div>
                                <div class="price">{{product.qty * product.price | currency:'VND'}}</div>
                            </div>
                        </div>
                        <div class="price-summary">
                            <div class="OrderSummary__StyledPriceInfo-ue7sy3-2 jPiCqD">
                                <div class="name">Tạm tính</div>
                                <div class="value" [attr.data-total]="dataTotal">{{dataTotal | currency:'VND'}}</div>
                            </div>
                            <div class="OrderSummary__StyledPriceInfo-ue7sy3-2 jPiCqD">
                                <div class="name">Phí vận chuyển</div>
                                <div class="transportFee">
                                    0₫
                                </div>
                            </div>
                            <div class="total">
                                <div class="name">Thành tiền:</div>
                                <div class="value">{{ dataTotal | currency:'VND'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>