.css-register {
    background-image: url('../../assets/img/img_login.PNG');
    background-size: 100%;
    width: none;
    height: 790px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.css-register-body {
    border: 2px solid darkslategrey;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    background-color: paleturquoise;
    height: 700px;
}