<!DOCTYPE HTML>
<html>

<head>
    <title>Login Website Travel</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <!--header start here-->
    <div class="header">
        <div class="header-main">
            <h1>Đăng ký</h1>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <input type="text" placeholder="nhập tên" formControlName="user_name" />
                            <div *ngIf="isInvalidForm('user_name')" class="alert alert-danger">
                                <div *ngIf="isRequired('user_name')">
                                    Yêu cầu nhập tên .
                                </div>
                            </div>
                            <input type="email" placeholder="nhập email" formControlName="email" />
                            <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
                                <div *ngIf="isRequired('email')">
                                    Yêu cầu nhập Email .
                                </div>
                                <div *ngIf="registerForm.controls['email'].errors.pattern" autocomplete="off">
                                    Yêu cầu nhập Email theo định dạng abc@gmail.com
                                </div>
                            </div>
                            <input type="password" formControlName="password" placeholder="nhập mật khẩu"
                                autocomplete="off" />
                            <div *ngIf="isInvalidForm('password')" class="alert alert-danger">
                                <div *ngIf="isRequired('password')">
                                    Yêu cầu nhập password .
                                </div>
                                <div *ngIf="registerForm.controls['password'].errors.pattern">
                                    Yêu cầu nhập mật khẩu ít nhất 5 ký tự
                                </div>
                            </div>
                            <!-- <input type="text" name="full_name" placeholder="nhập họ và tên"
                                formControlName="full_name" /> -->
                            <input type="text" name="avatar" value="assets/img/img_user.PNG" disabled
                                formControlName="avatar" />
                            <input type="date" name="date_of_birth" placeholder="enter date_of_birth"
                                formControlName="date_of_birth" />
                            <div *ngIf="isInvalidForm('date_of_birth')" class="alert alert-danger">
                                <div *ngIf="isRequired('date_of_birth')">
                                    Yêu cầu nhập ngày sinh .
                                </div>
                            </div>
                            <!-- <input type="number" name="gender" placeholder="nhập giới tính : 1- Nam | 0- Nữ"
                                formControlName="gender" />
                            <div *ngIf="isInvalidForm('gender')" class="alert alert-danger">
                                <div *ngIf="isRequired('gender')">
                                    Yêu cầu chọn nhập giới tính (nữ : 0 , nam: 1) .
                                </div>
                            </div> -->
                            <div class="gender">
                                <input type="radio" class="form-check-input" id="materialUnchecked" value="1"
                                    name="gender" formControlName="gender" style="margin-left: 30px;">
                                <label class="form-check-label" for="materialUnchecked"
                                    style="margin-left: 50px;">Nam</label>

                                <input type="radio" class="form-check-input" id="materialChecked" value="0"
                                    name="gender" formControlName="gender" style="margin-left: 30px;" checked>
                                <label class="form-check-label" for="materialChecked"
                                    style="margin-left: 46px;">Nữ</label>
                            </div>
                            <div *ngIf="isInvalidForm('gender')" class="alert alert-danger">
                                <div *ngIf="isRequired('gender')">
                                    Yêu cầu chọn nhập giới tính (nữ : 0 , nam: 1) .
                                </div>
                            </div>

                            <!-- <input type="text" name="hometown" placeholder="nhập quê hương"
                                formControlName="hometown" />
                            <input type="text" name="hobbies" placeholder="nhập sở thích" formControlName="hobbies" /> -->
                            <!-- <div class="clear"> </div> -->

                            <button [disabled]="!registerForm.valid" type="submit"
                                class="btn btn-lg btn-primary btn-block">
                                Đăng Ký
                            </button>
                        </form>
                        <div class="header-left-top">
                            <!-- <div class="sign-up"> <h2>ĐĂNG KÝ ĐỂ TRẢI NGHIỆM CÁC ĐỊA ĐIỂM DU LỊCH</h2> </div> -->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--header end here-->
    <div class="copyright">
        <p> Đăng ký để trải nghiệm các địa điểm du lịch thú vị <a href="http://w3layouts.com/" target="_blank"> Website
                travel </a></p>
    </div>
    <!--footer end here-->
</body>

</html>