<header>
    <div class="shop-header-container">
        <div class="shop-header-inner">
            <div class="container">
                <div class="row">
                    <!-- start logo -->
                    <div class="col-sm-2 col-md-2 col-xs-12">
                        <div class="shop-logo">
                            <a href=""><img alt="" title="Travel" src="../../../assets/img/logo.png"></a>
                        </div>
                    </div>
                    <!-- end logo -->
                    <!-- start search -->
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <div class="shop-top-search">
                            <div id="shop-search">
                                <form class="row col-md-12" [formGroup]="searchProductForm"
                                    (ngSubmit)="searchProduct()">
                                    <div class="input-group">
                                        <!-- <select name="cetegory" class="cate-dropdown">
                                            <option>Danh mục sản phẩm</option>
                                            <option>a</option>
                                            <option>b</option>
                                            <option>c</option>
                                            <option>d</option>
                                            <option>e</option>
                                        </select> -->
                                        <input type="text" class="form-control border-0"
                                            style="background-color: #dde8dd;" placeholder="Bạn cần tìm gì... "
                                            formControlName="product_name" name="search ">
                                        <button type="submit" class="shop-search-button">
                                            <i class="fa fa-search "></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end search -->
                    <!-- start cart -->
                    <div class="col-xs-12 col-sm-4 col-md-3 ">
                        <div class="shop-cart ">
                            <div>
                                <a href="#">
                                    <div class="cart-icon">
                                        <i class="fa fa-cart-arrow-down"></i>
                                    </div>
                                    <div class="cart-total">
                                        <div class="shop-cart-total">
                                            <span></span>
                                        </div>
                                    </div>
                                    <a routerLink="/product/card" id="btnGioHang">
                                        <div class="shop-cart-inner ">
                                            <span class="shop-cart-title "><b>Giỏ hàng</b></span>
                                        </div>
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end cart -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- start nav -->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="shop-nav-left-container">
                    <div class="shop-nav-left-title">
                        <h3>
                            <span>DANH MỤC SẢN PHẨM</span>
                        </h3>
                        <i class="fa fa-reorder"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-11 col-md-9 col-sm-6">
                <div class="shop-nav-right-menu">
                    <ul>
                        <!-- <li *ngFor="let data of data_portfolio">
                            <a style="width: 70px;" href="#">{{data.portfolio_name}}</a>
                        </li> -->
                        <!-- <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li>
                        <li><a href="#">a</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end nav -->

<!-- start slider -->
<div class="shop-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="shop-nav-left-category">
                    <ul nav nav-tabs>
                        <li *ngFor="let item of data_portfolio" class="list-group-item"
                            [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)"
                            routerLink="/product/search/{{item.portfolio_id}}">

                            {{item.portfolio_name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" style="margin-top: 50px;">
                <h2 *ngIf="search_product_name == '' "><b>TẤT CẢ SẢN PHẨM CỦA THỂ LOẠI :{{portfolio_name}}</b>
                </h2>
                <h2 *ngIf="search_product_name != '' "><b>BẠN VỪA TÌM KIẾM : {{search_product_name}}</b></h2>
            </div>
        </div>
    </div>
</div>
<!-- end slider -->

<!-- start search product -->
<div class="shop-product-clothes" *ngIf="search_product_name != '' ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="clothesCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let data of dataSearch">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{domain}}/{{data.images[0]}}"
                                                class="img-responsive img-fluid css-i" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{data.product_name}}</h4>
                                            <p class="item-price"><span>{{data.price}} Đ</span></p>
                                            <a routerLink="detail/{{data.product_id}}" class="btn btn-primary">Xem chi
                                                tiết</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search product -->

<!-- start list product -->
<div class="shop-product-clothes" *ngIf="search_product_name == '' ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="clothesCarousel" class="carousel slide">
                    <!-- data-ride="carousel" data-interval="0" -->
                    <!-- Carousel indicators -->
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#clothesCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#clothesCarousel" data-slide-to="1"></li>
                        <li data-target="#clothesCarousel" data-slide-to="2"></li>
                    </ol> -->
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let data of dataProduct">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{domain}}/{{data.images[0]}}"
                                                class="img-responsive img-fluid css-i" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{data.product_name}}</h4>
                                            <p class="item-price"><span>{{data.price}} Đ</span></p>
                                            <a routerLink="detail/{{data.product_id}}" class="btn btn-primary">Xem chi
                                                tiết</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <!-- <a class="carousel-control left carousel-control-prev" href="#clothesCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#clothesCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end list product -->