<div>
    <div>
        <div class="row">
            <h2 style="text-align: center; padding-left: 50px;">Top 10 địa điểm được yêu thích nhất tháng
                {{dataTopPlace[0]?.created_at | date : "MM-yyyy"}}
            </h2>
            <div class="row col-md-12"
                style="height: 1200px; width: 100%; margin-top: 50px; padding-top: 10px; background-color: #ffff;">
                <div class="col-md-1">
                </div>
                <div *ngIf="dataTopPlace[1]" class="col-md-3 text-center" style="margin-top: 60px;">
                    <a routerLink="/place/detail/{{dataTopPlace[1].famous_place_id}}">
                        <img src="{{domain}}/{{dataTopPlace[1].images[0]}}" class="sty-i" alt="">
                    </a>
                    <br>
                    <b style="color: #26c281;">
                        {{dataTopPlace[1].title}}
                        ({{dataTopPlace[1].sumPoint}}
                        điểm)</b>
                    <img src="./assets/img/img-top2.PNG" width="100%" height="200px" alt="">
                </div>
                <div *ngIf="dataTopPlace[0]" class="col-md-4 text-center">
                    <a routerLink="/place/detail/{{dataTopPlace[0].famous_place_id}}">
                        <img src="{{domain}}/{{dataTopPlace[0].images[0]}}" class="sty-i" alt="">
                    </a>
                    <br>
                    <b style="color: #26c281;">
                        {{dataTopPlace[0].title}}
                        ({{dataTopPlace[0].sumPoint}}
                        điểm)</b>
                    <img src="./assets/img/img-top1.PNG" width="100%" height="260px" alt="">
                </div>
                <div *ngIf="dataTopPlace[2]" class="col-md-3 text-center" style="margin-top: 80px;">
                    <a routerLink="/place/detail/{{dataTopPlace[2].famous_place_id}}">
                        <img src="{{domain}}/{{dataTopPlace[2].images[0]}}" class="sty-i" alt="">
                    </a><br>
                    <b style="color: #26c281;">
                        {{dataTopPlace[2].title}}
                        ({{dataTopPlace[2].sumPoint}}
                        điểm)</b>
                    <img src="./assets/img/img-top3.PNG" width="100%" height="180px" alt="">
                </div>
                <div class="col-md-1">
                </div>

                <div class="row col-md-12" style="margin-top: 10px;">
                    <div *ngIf="dataTopPlace[3]" class="col-md-4 text-center">
                        <p class="sty-p text-center">Top 4</p>
                        <a routerLink="/place/detail/{{dataTopPlace[3].famous_place_id}}">
                            <img src="{{domain}}/{{dataTopPlace[3].images[0]}}" class="sty-i2" alt="">
                        </a> <br>
                        <b style="color: #26c281;">
                            {{dataTopPlace[3].title}}
                            ({{dataTopPlace[3].sumPoint}}
                            điểm)
                        </b>
                    </div>
                    <div *ngIf="dataTopPlace[4]" class="col-md-4 text-center">
                        <p class="sty-p text-center">Top 5</p>
                        <a routerLink="/place/detail/{{dataTopPlace[4].famous_place_id}}">
                            <img src="{{domain}}/{{dataTopPlace[4].images[0]}}" class="sty-i2" alt="">
                        </a><br>
                        <b style="color: #26c281;">
                            {{dataTopPlace[4].title}}
                            ({{dataTopPlace[4].sumPoint}}
                            điểm)</b>
                    </div>
                    <div *ngIf="dataTopPlace[5]" class="col-md-4 text-center">
                        <p class="sty-p text-center">Top 6</p>
                        <a routerLink="/place/detail/{{dataTopPlace[5].famous_place_id}}">
                            <img src="{{domain}}/{{dataTopPlace[5].images[0]}}" class="sty-i2" alt="">
                        </a>
                        <br>
                        <b style="color: #26c281;">
                            {{dataTopPlace[5].title}}
                            ({{dataTopPlace[5].sumPoint}}
                            điểm)</b>
                    </div>
                </div>
                <div class="row col-md-12" style="margin-top: 10px;">
                    <div *ngIf="dataTopPlace[6]" class="col-md-3 text-center">
                        <p class="sty-p2 text-center">Top 7</p>
                        <a routerLink="/place/detail/{{dataTopPlace[6].famous_place_id}}">
                            <img src="{{domain}}/{{dataTopPlace[6].images[0]}}" class="sty-i2" alt="">
                        </a><br>
                        <b style="color: #26c281;">
                            {{dataTopPlace[6].title}}
                            ({{dataTopPlace[6].sumPoint}}
                            điểm)</b>
                    </div>
                    <div *ngIf="dataTopPlace[7]" class="col-md-3 text-center">
                        <p class="sty-p2 text-center">Top 8</p>
                        <a routerLink="/place/detail/{{dataTopPlace[7].famous_place_id}}">
                            <img src="{{domain}}/{{dataTopPlace[7].images[0]}}" class="sty-i2" alt="">
                        </a><br>
                        <b style="color: #26c281;">
                            {{dataTopPlace[7].title}}
                            ({{dataTopPlace[7].sumPoint}}
                            điểm)</b>
                    </div>
                    <div *ngIf="dataTopPlace[8]" class="col-md-3 text-center">
                        <p class="sty-p2 text-center">Top 9</p>
                        <a routerLink="/place/detail/{{dataTopPlace[8].famous_place_id}}">
                            <img src="{{domain}}/{{dataTopPlace[8].images[0]}}" class="sty-i2" alt="">
                        </a><br>
                        <b style="color: #26c281;">
                            {{dataTopPlace[8].title}}
                            ({{dataTopPlace[8].sumPoint}}
                            điểm)</b>
                    </div>
                    <div *ngIf="dataTopPlace[9]" class="col-md-3 text-center">
                        <p class="sty-p2 text-center">Top 10</p>
                        <a routerLink="/place/detail/{{dataTopPlace[9].famous_place_id}}">
                            <img src="{{domain}}/{{dataTopPlace[9].images[0]}}" class="sty-i2" alt="">
                        </a><br>
                        <b style="color: #26c281;">
                            {{dataTopPlace[9].title}}
                            ({{dataTopPlace[9].sumPoint}}
                            điểm)</b>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>