<div class="create-trip-detail">
    <div class="container-fluid">
        <!-- start header -->
        <div class="col-md-12 create-trip-detail-header">
            <div class="row">
                <div class="col-md-5 col-sm-4 col-4 header-logo">
                    <a href="">Travel</a>
                </div>
                <div class="col-md-7 col-sm-8 col-8">
                    <div class="row">
                        <div class="header-avatar">
                        </div>
                        <div class="header-info">
                            <span>Phan Công Nhật Vũ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start nav -->
        <div class="col-md-12 create-trip-detail-nav">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-lg-3" style="line-height: 40px;">
                    <span><strong>Bước 1: </strong>Chọn ngày</span>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3" style="line-height: 40px;">
                    <span><strong>Bước 2: </strong>Chọn tỉnh - thành phố</span>
                </div>
                <div class="col-md-7 col-sm-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-5" style="line-height: 40px;">
                            <span><strong>Bước 3 : </strong>Chọn địa điểm</span>
                        </div>
                        <div class="col-md-7">
                            <button type="button" class="finish">Hoàn thành</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end nav -->
        <!-- start body -->
        <div class="col-md-12 create-trip-detail-body">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-3" id="trip-left">
                    <div id="item-day-in">
                        <div class="top-data">
                            <a href="#">Ngày 1</a>
                            <input type="date">
                        </div>
                        <div class="list-places">
                            <span>Huế <i class="fa fa-angle-right"></i></span>
                            <span> Ninh Bình</span>
                        </div>
                    </div>
                    <div id="item-day-in">
                        <div class="top-data">
                            <a href="#">Ngày 2</a>
                            <input type="date">
                        </div>
                        <div class="list-places">
                            <span>Huế <i class="fa fa-angle-right"></i></span>
                            <span> Ninh Bình</span>
                        </div>
                    </div>
                    <div id="item-day-in">
                        <div class="top-data">
                            <a href="#">Ngày 3</a>
                            <input type="date">
                        </div>
                        <div class="list-places">
                            <span>Huế <i class="fa fa-angle-right"></i></span>
                            <span> Ninh Bình</span>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="add-day">Thêm ngày</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3" id="trip-center">
                    <div class="trip-center-header">
                        <div class="header-place">
                            <div class="title-jouney">
                                <span class="list-province-jouney">
                                    <span style="font-weight: 600; color: #28a745;">Ngày 1: </span>
                                    <span>Huế </span>
                                    <i class="fa fa-angle-double-right"></i>
                                    <span> HCM</span>
                                </span>
                                <span>
                                    <input type="button" value="add" class="btn-add-province">
                                </span>
                            </div>
                        </div>
                        <div class="list-places">
                            <div class="list-places-day">
                                <div class="item-place">
                                    <div class="item">
                                        <span class="icon">A</span>
                                        <span class="name">Cùng đình Huế</span>
                                        <span class="delete"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                    <div class="item">
                                        <span class="icon">A</span>
                                        <span class="name">Cùng đình Huế</span>
                                        <span class="delete"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                    <div class="item">
                                        <span class="icon">A</span>
                                        <span class="name">Cùng đình Huế</span>
                                        <span class="delete"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                    <div class="item">
                                        <span class="icon">A</span>
                                        <span class="name">Cùng đình Huế</span>
                                        <span class="delete"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                    <div class="item">
                                        <span class="icon">A</span>
                                        <span class="name">Cùng đình Huế</span>
                                        <span class="delete"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                    <div class="item">
                                        <span class="icon">A</span>
                                        <span class="name">Cùng đình Huế</span>
                                        <span class="delete"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-6" id="trip-right">
                    <div id="province-in-plan">
                        <div class="recommend-points">
                            <div class="header-province">
                                Thừa Thiên Huế
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image ">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title">
                                        Cung Đình Huế
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title">
                                        Cung Đình Huế
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title">
                                        Cung Đình Huế
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image ">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title">
                                        Cung Đình Huế
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title ">
                                        Cung Đình Huế
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle ">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title">
                                        Cung Đình Huế
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title">
                                        Cung Đình Huế
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-6 recommend-point">
                                    <div class="recommend-image">
                                        <img src="../../assets/img/img_user.PNG" class="image">
                                        <div class="middle ">
                                            <i class="fa fa-plus-circle text" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="recommend-title">
                                        Cung Đình Huế
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end body -->
    </div>
</div>