<div class="right-info-user">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="css-fieldset">
                    <legend class="col-md-12">THÔNG TIN CÁ NHÂN</legend>
                    <div style="margin-top: 30px; margin-bottom: 30px;" class="row col-md-12">
                        <div class="col-md-12">
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Họ tên</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.full_name}}</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Tên tài khoản</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.user_name}}</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Email</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.email}}</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Ngày sinh</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.date_of_birth | date : "dd/MM/yyyy"}}</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Quê quán</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.hometown}}</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Giới tính</span>
                                </div>
                                <div class="col-md-9">
                                    <span *ngIf="dataUser.gender==1">Nam</span>
                                    <span *ngIf="dataUser.gender==0">Nữ</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Sở thích</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.hobbies}}</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Số điện thoại</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.phone_number}}</span>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Địa chỉ</span>
                                </div>
                                <div class="col-md-9">
                                    <span>{{dataUser.address}}</span>
                                </div>
                            </div>
                            <div id="btnUpdateUser">
                                <button class="btn btn-success"
                                    routerLink="/member/info/update/{{dataUser.user_id}}">Cập nhật thông
                                    tin</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>