#list-post {
    margin-bottom: 30px;
}

#list-province-show {
    margin-top: 30px;
    margin-bottom: 30px;
}

#list-province-show a {
    text-decoration: none;
    cursor: pointer;
    color: #575757;
}

#list-province-show a:hover {
    color: #1d9c73;
}

#list-province-hide {
    margin-top: 30px;
    margin-bottom: 30px;
}

#list-province-hide a {
    text-decoration: none;
    cursor: pointer;
    color: #575757;
}

#header-title p {
    margin-left: 370px;
    font-size: 28px;
    font-weight: 400;
    color: #1d9c73;
}

.display {
    display: none;
}

#list-province-hide a:hover {
    color: #1d9c73;
}

.post {
    border: 0.5px solid gainsboro;
    height: 500px;
    width: 100%;
}

.post-info {
    height: 50px;
    padding: 10px;
}

.post-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 20px;
}

.post-username {
    line-height: 40px;
}

.post-username a {
    text-decoration: none;
    margin-left: -15px;
    color: #575757;
    font-weight: 600;
    font-size: 13px;
}

.post-image img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    padding-top: 10px;
}

.post-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.post-title>h2 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.post-title>h2>a {
    word-break: break-word;
    word-spacing: normal;
    word-wrap: break-word;
    color: #009580;
    font-size: 25px;
    padding-top: 5px;
}

.post-detail {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-left span {
    padding-right: 10px;
    color: #c6c5c5;
    font-size: 12px;
}

.col-left i {
    color: #c6c5c5;
    font-size: 12px;
}

.post-discription {
    padding-left: 20px;
    padding-right: 20px;
    word-break: break-word;
    word-wrap: break-word;
}

.post-discription p {
    color: #575757;
    font-size: 14px;
    margin: 0 0 10px;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option-blog {
    right: 10px;
    bottom: 6px;
}

.option-blog a {
    margin-left: 1125px;
}

.option-blog i {
    color: #a8a8a8;
}

.item-tag {
    display: inline-block;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tags {
    color: #c6c5c5;
    font-size: 12px;
    text-transform: lowercase;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #c6c5c5;
    font-weight: bold;
}

.tags i {
    padding-right: 5px;
}

.item-tag a {
    text-decoration: none;
}