<div id="province-detail">
    <div class="container">
        <!-- <div class="row" id="list-province-show">
            <div class="col-md-2" *ngFor="let data11Province of dataList11Province">
                <a routerLink="/province/detail/{{data11Province.province_id}}">{{data11Province.province_name}}</a>
            </div>
            <div class="col-md-2">
                <a onclick="is_open_all(this)" style="color: #1d9c73;">Xem thêm ...</a>
            </div>
        </div>

        <div class="row display" id="list-province-hide">
            <div class="col-md-2" *ngFor="let dataProvince of dataListProvince">
                <a routerLink="/province/detail/{{dataProvince.province_id}}">{{dataProvince.province_name}}</a>
            </div>
            <div class="col-md-2">
                <a onclick="close_all_tag(this)" style="color: red;">Đóng (X)</a>
            </div>
        </div> -->

        <div class="row" id="header-title">
            <p style="margin-top: 33px;">Danh sách tất cả các bài viết</p>
        </div>

        <!-- end slogan -->
        <br><br>
        <div id="post-review" class="row">
            <div class="row">
                <div class="col-md-4" *ngFor="let dataPost of dataListPost">
                    <div class="a-post-review">
                        <a href="">
                            <img class="post-review-avatar" src="../../assets/img/img_user.PNG" />
                        </a>
                        <a href="">
                            <span class="a-post-fullname">{{dataPost.user_name}}</span>
                        </a>
                        <br />
                        <a routerLink="/detail-post/{{dataPost.post_id}}">
                            <img class="post-review-image" src="{{domain}}/{{dataPost.images[0]}}" />
                        </a>
                        <a routerLink="/detail-post/{{dataPost.post_id}}">
                            <h6 class="a-post-title">{{dataPost.title}}</h6>
                        </a>
                        <div class="a-post-detail">
                            <!-- <i class="fa fa-eye" aria-hidden="true"></i> 1234 -->
                            <!-- <i class="fa fa-commenting" aria-hidden="true"></i> {{dataPost.countComment/2}} quan tâm -->
                            <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                            <span class="post-review-date">{{dataPost.created_at}}</span>
                            <i class="fa fa-check-square-o"
                                style="margin-left: 10px; margin-right: 5px;"></i>{{dataPost.countRating}}
                            đánh
                            giá
                            <span class="text-primary" style="font-size: 20px; margin-left: 10px; padding-top: 8px;">
                                <ngb-rating [max]="5" style="color: rgb(255, 0, 0);" [(rate)]="dataPost.avgPoint"
                                    [readonly]="false">
                                </ngb-rating>
                            </span>
                        </div>

                        <div style="padding: 10px 0 10px 0;" class="text-center css-detail">
                            <a class="link-manga"
                                style="background: linear-gradient(#ffe10d, #b4ff00); border-radius: 20px;font-size: 18px;padding: 3px 25px;"
                                routerLink="/detail-post/{{dataPost.post_id}}">
                                <span class="blink_me">＞＞</span>
                                <span>Xem Bài Viết</span>
                                <span class="blink_me">＜＜</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="post-review-footer" class="row col-md-12 text-center">
                <div class="col-md-5"></div>
                <button class="text-center col-md-2" style="width: 100px;" type="button" routerLink="/post">Xem
                    thêm</button>
                <div class="col-md-5"></div>
            </div>
        </div>
        <!-- end post review -->
    </div>
</div>