<div class="modal-content">
    <form [formGroup]="updateScheduleDetailForm" (ngSubmit)="updateScheduleDetail()">
        <div class="modal-header">
            <h6 class="modal-title">Chỉnh sửa thông tin địa điểm</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label class="model-title" style="color: rgb(37, 37, 35);">
                <h4>Thời gian tham quan</h4>
            </label>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="pull-left">
                        <span class="clearfix">Thời gian đến:</span>
                        <div class="row" style="width: 280px;">
                            <div class="col-md-6 col-lg-6">
                                <select name="des-time-hour" class="form-control" formControlName="time_to_h"
                                    title="--- Chọn giờ ---">
                                    <option class="choose-i-1" *ngFor="let h of dataTimeHour">
                                        {{h}}h
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <select name="des-time-minute" class="form-control" formControlName="time_to_p"
                                    title="--- Chọn phút ---">
                                    <option class="choose-n-0" *ngFor="let p of dataTimeMinute">
                                        {{p}}'
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="pull-left">
                        <span class="clearfix ">Thời gian tham quan:</span>
                        <div class="row" style="width: 280px;">
                            <div class="col-md-6 col-lg-6">
                                <select name="des-time-hour" class="form-control" formControlName="time_stay_h"
                                    title="--- Chọn giờ ---">
                                    <option class="choose-i-1" *ngFor="let h of dataTimeHour">
                                        {{h}}h
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <select name="des-time-minute" class="form-control" formControlName="time_stay_p"
                                    title="--- Chọn phút ---">
                                    <option class="choose-n-0" *ngFor="let p of dataTimeMinute">
                                        {{p}}'
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <label class="model-title" style="margin-top: 15px;">Phương tiện di chuyển</label>
            <div class="row vehicle">
                <div class="group-all">
                    <ul style="list-style: none;">
                        <form class="row" [formGroup]="arrayVehicleForm" (ngSubmit)="submitFormArrayVehicle()"
                            novalidate>
                            <li *ngFor="let v of dataVehicle" class="col-md-3">
                                <label>
                                    <input type="checkbox" [value]="v.vehicle_id" [name]="v.title"
                                        (change)="onCheckboxChangeVehicle($event)">
                                    <i style="margin-left: 4px;" [class]="v.description"></i>{{v.title}}
                                </label>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
            <label class="model-title">Ghi chú</label>
            <div class="row">
                <div class="col-md-12">
                    <textarea rows="3" style="width: 100%; border-radius: 5px;" formControlName="note"></textarea>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <button id="btnLuuDetailSchedule" [disabled]="!updateScheduleDetailForm.valid" type="submit"
                        class="btnLuu btn btn-success">Cập nhật</button>
                </div>
            </div>
        </div>
    </form>
</div>