.css-a-w {
    width: 90px;
    height: 45px;
    margin-left: 5px;
}

.css-b {
    margin-left: 5px;
    width: 190px;
    height: 70px;
    font-size: larger;
}

.navbar-expand-lg {
    background-color: #524949;
    padding-top: 10px;
    height: 100px;
    margin-bottom: 55px;
    text-align: center;
    margin-top: 5px;
}