.css-a-w {
    width: 90px;
    height: 45px;
    margin-left: 5px;
}

.css-b {
    margin-left: 5px;
    width: 190px;
    height: 70px;
    font-size: larger;
}

.navbar-expand-lg {
    background-color: #524949;
    padding-top: 10px;
    height: 100px;
    margin-bottom: 55px;
    text-align: center;
    margin-top: 5px;
}

.hover1:hover {
    background-color: #ffff;
    border: 1px solid #28a745;
    color: #28a745;
    font-size: 20px;
}

.hover2:hover {
    background-color: #ffff;
    border: 1px solid #28a745;
    color: #28a745;
    font-size: 20px;
}

.hover3:hover {
    background-color: #ffff;
    border: 1px solid #28a745;
    color: #28a745;
    font-size: 20px;
}

.hover4:hover {
    background-color: #ffff;
    border: 1px solid #28a745;
    color: #28a745;
    font-size: 20px;
}