<div class=" navbar-expand-lg" id="navbar-right">
    <!-- *ngIf="user?.role==1 && auth.haveLogin()" -->
    <button routerLink="/manager/product" class="btn btn-success css-b" type="button">
        Quản Lý Sản Phẩm
    </button>
    <button routerLink="/manager/posts" class="btn btn-success css-b" type="button">
        Quản Lý Bài Viết
    </button>
    <button routerLink="/manager/site" class="btn btn-success css-b" type="button">
        Quản Lý Địa Điểm
    </button>
    <button routerLink="/manager/statistical" class="btn btn-success css-b" type="button">
        Thống Kê
    </button>
</div>
<router-outlet></router-outlet>