<div class="manager-post-detail">
    <div class="container">
        <fieldset class="css-fieldset">
            <legend class="col-md-12">CHI TIẾT BÀI VIẾT<button type="button" class="btn btn-success manager-post-detail-approved">Cập nhật bài viết</button></legend>
            <div class="row">
                <div class="css-h row col-md-5 manager-post-detail-left">
                    <div class="col-md-12 post-detail-title">
                        <h6>1. Tiêu đề bài viết</h6>
                        <p>Kinh nghiệm leo núi Bà Đen - Tây Ninh</p>
                    </div>
                    <div class="col-md-12 post-detail-location">
                        <h6>2. Tên địa điểm</h6>
                        <p>Núi Bà Đen</p>
                    </div>
                    <div class="col-md-12 post-detail-province">   
                        <h6>3. Tình thành</h6>
                        <p>Đồng Nai</p>
                    </div>
                    <div class="col-md-12 post-detail-duration">
                        <h6>4. Thời gian</h6>
                        <p>3 Ngày</p>
                    </div>
                    <div class="col-md-12 post-detail-uptime">
                        <h6>5. Thời gian phục vụ</h6>
                        <p>Từ 7h30 - 22h</p>
                    </div>
                    <div class="col-md-12 post-detail-fare">
                        <h6>6. Giá vé vào cổng</h6>
                        <p>Miễn phí</p>
                    </div>
                    <div class="col-md-12 post-detail-image">
                        <h6>7. Hình ảnh của địa điểm</h6>
                        <p>a</p>
                    </div>
                </div>
                <div class="css-h row col-md-7 manager-post-detail-right">
                    <div class="col-md-12 post-detail-tutorial">
                        <h6>Hướng dẫn cách đi</h6>
                        <p>Có nhiều đường lên đỉnh, cứ hỏi người dân xung quanh là sẽ ra điểm bắt đầu. Mình liệt kê 03 đường mà nhiều người thường hay lui tới, độ khó tăng dần nha: </p>
                        <p>– Đường chùa (nửa đường là bậc thang lên chùa Bà, nửa đường còn lại là đất đá như hình dưới)</p>
                        <p>– Đường cột điện ( đường thẳng, đất đá như hình, cứ bám theo hướng các cột điện sẽ lên đỉnh)</p>
                        <p>– Đường Ma Thiên Lãnh (đường dài nhất, dễ lạc nhất, xa nhất, lời khuyên là lần đầu tiên leo thì đừng đi cung này)</p>
                    </div>
                    <div class="col-md-12 post-detail-luggage">
                        <h6>Hành lý</h6>
                        <p>– Một bộ dành riêng cho việc di chuyển trên xe máy (tay dài, quần dài lỡ có té xe thì ít trầy). Tới nơi mình thay bộ đồ leo núi, bỏ bộ đó vào bỏ cốp xe, hôm sau thân xác tả tơi còn bộ đồ quay về nơi thành thị. Ưu tiên quần áo gọn
                            nhẹ, thoáng khí, co dãn tốt, 1 ngày 1 bộ, 2 ngày 2 bộ.</p>
                        <p>– Giày tốt, có gai, bám đất. Giày leo núi chuyên dụng thì nhất rồi, sang thì Nike Running, nhưng mình khuyên mang giày bộ đội hoặc Thượng Đình là tốt nhất rồi, nhìn nó cùi cùi vậy thôi chứ giúp ích cho chuyến đi của mình lắm.</p>
                        <p>– Găng tay nhé, vì đường đá gần như 90%, k có bao tay thì …</p>
                        <p>– Nước: 2 ngày thì 4 lít, 1 ngày thì 2 lít. Uống thành từng nguộm, tiết kiệm nước vì bạn k biết hành trình mình sẽ khó khăn và cần nước thế nào đâu. Cách đỉnh tầm 45’ có một trạm dừng chân nhỏ có bán nước, Sting, mì gói các kiểu,
                            có thể tiếp đạn ở đây trước khi đi tiếp.</p>
                        <p>– Đi trong ngày thì mang đồ chống nắng, mình khuyên các bạn phượt thủ nên sắm cái bao tay chống nắng, chống trầy xước khi leo, chống côn trùng nữa.</p>
                        <p>– Thức ăn cung cấp năng lượng, dao, bật lửa, đồ y tế, áo mưa nếu đi vào mùa mưa.</p>
                        <p>– Thuốc chống côn trùng, nếu mà mặc đồ bích bùng từ đầu tới đít thì khỏi, nhưng mà trên người mình có chổ hở thì phải cẩn thận, chỉ cần ngồi nghỉ là con quỉ muỗi xuất hiện.</p>
                    </div>
                    <div class="col-md-12 post-detail-accommodation">
                        <h6>Chỗ ở</h6>
                        <p>Đặt phòng ksan 3 ngày 2 đêm. Giá ksan ở Côn Đảo cao hơn các chỗ du lịch khác 1 chút.</p>
                        <p>Lighthouse Boutique số 10 Hồ Thanh Tòng.Phòng 4 người giá khoảng 800k 1 đêm. (Traveloka, booking or agoda)</p>
                        <p>Hiện Côn Đảo mới xây thêm nhiều khách sạn chưa có thông tin trên các trang mạng, ai thích homestay có thể liên hệ Uyên's House cũng gần thị trấn (01649416331)
                        </p>
                        <p>*Thuê xe máy tại thị trấn: xe số khoảng 80-100k 1 ngày, có thể liên hệ ksan hoặc thuê ở ngoài, xe tay ga khoảng 120k</p>
                    </div>
                    <div class="col-md-12 post-detail-experience">
                        <h6>Địa điểm tham quan - trải nghiệm</h6>
                        <p>Tây Ninh 365 ngày nắng, mình cùng đồng bọn leo núi ngay ngày mưa, nếu không nói là bão. Đêm trước mưa lớn từ trưa, cả nhóm vật vã lắm mới được lưng chừng núi, đang tuyệt vọng thì thấy ánh đèn le lói từ chòi bán nước. Hỏi ra mới
                            biết đây là chòi cuối cùng trên đường lên đỉnh. Lân la ly rượu xin tá túc qua đêm. Rồi anh chủ quán xăm kín nửa người gật đầu cho cả đám ngủ lại đêm đó, mừng rơi nước mắt. Có những lúc mệt, mệt lắm, gần như tuyệt vọng, nhưng
                            ráng bình tĩnh để đưa ra những quyết định sáng suốt nhất có thể. Mình chỉ có thể khuyên vậy thôi. Vì vậy ở đây có một câu rất vui : “Tây Ninh có núi Bà Đen , anh lính Tây Ninh còn đen hơn bà”</p>
                    </div>
                    <div class="col-md-12 post-detail-eating">
                        <h6>Ăn uống- mua sắm</h6>
                        <p>Tự túc</p>
                    </div>
                    <div class="col-md-12 post-detail-note">
                        aa
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>