<div id="list-post-place">
    <div class="container">
        <div class="row" id="header">
            <div class="col-md-4">
                <h1 class="place-name">{{dataProvinceName}}</h1>
                <h3 class="place-name">{{dataPlaceName}}</h3>
            </div>
            <div class="col-md-8">
                <div id="description" class="row">
                    {{dataDescription}}
                </div>
            </div>
        </div>

        <div class="row" id="list-post" *ngFor="let dataPost of dataListPost">
            <div class="post">
                <div class="post-info">
                    <div class="row">  
                        <div class="col-md-1 post-avatar">
                            <img src="../../../{{dataPost.avatar}}">
                        </div>
                        <div class="col-md-11 post-username">
                            <a href="">{{dataPost.user_name}}</a>
                        </div>
                    </div>
                </div>
                <div class="post-image">
                    <a>
                        <img src="{{domain}}/{{dataPost.images[0]}}">
                    </a>
                </div>
                <div class="post-title">
                    <h2>
                        <a>{{dataPost.title}}</a>
                    </h2>
                </div>
                <div class="post-detail">
                    <div class="col-left">
                        <span class="item-tag">
                            <a class="tags" href="">
                                <i class="fa fa-tags" aria-hidden="true"></i>{{dataPost.place_title}}</a>
                        </span>
                        <span><i class="fa fa-eye"></i>14668</span>
                        <span><i class="fa fa-comments-o"></i> 4</span>
                        <span><i class="fa fa-calendar"></i>{{dataPost.created_at}}</span>
                    </div>
                </div>
                <div class="post-discription line-clamp-4">
                    <p>{{dataPost.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>