<!-- start search banner -->
<div id="search-banner" class="col-md-12">
    <h2 id="banner-title" class="col-md-12">Nhiều thông tin hơn - trải nghiệm tốt hơn</h2>
    <div id="search-form" class="col-md-12">
        <div class="col-md-12" id="search-input">
            <div class="col-md-1"></div>
            <p class="col-md-1 icon-marker"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <input type="text" class="col-md-8 form-control search-input-text" id=""
                placeholder="Nhập nơi bạn muốn đến ...">
            <button class="col-md-2 btn-search">Tìm kiếm</button>
        </div>
    </div>
</div>
<!-- end search banner -->

<!-- start slogan -->
<div id="slogan">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12 css-hover-menu">
            <i class="fa fa-map-marker slogan-icon" aria-hidden="true"></i>
            <h3 class="slogan-header">Tìm địa điểm</h3>
            <p class="slogan-text">Tìm các bài viết review về các địa điểm mà bạn muốn đến</p>
        </div>
        <div class="col-md-3 col-sm-6 col-12 css-hover-menu">
            <i class="fa fa-calendar slogan-icon" aria-hidden="true"></i>
            <h3 class="slogan-header">Lên lịch trình</h3>
            <p class="slogan-text">Dễ dàng tạo, sửa đổi lịch trình chuyến đi của chính mình</p>
        </div>
        <div class="col-md-3 col-sm-6 col-12 css-hover-menu">
            <a class="css-a">
                <i class="fa fa-plus-square slogan-icon" aria-hidden="true"></i>
                <h3 class="slogan-header">Đăng bài</h3>
                <p class="slogan-text">Đăng bài review cho người khác sau khi đã trải nghiệm</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-12 css-hover-menu">
            <a class="css-a">
                <i class="fa fa-cart-plus slogan-icon" aria-hidden="true"></i>
                <h3 class="slogan-header">Mua sản phẩm</h3>
                <p class="slogan-text">Mua các sản phẩm cần thiết cho chuyến đi của bạn</p>
            </a>
        </div>
    </div>
</div>
<div class="css-border col-md-12 col-sm-12">
    <div id="post-review-header">
        <h3 class="col-md-12 col-sm-12">Bài viết gần đây</h3>
        <h6 class="col-md-12 col-sm-12">Một cái nhìn chân thật từ những người đã trải nghiệm</h6>
    </div>
</div>
<!-- end slogan -->
<br><br>
<div id="post-review" class="row">
    <div class="row">
        <div class="col-md-4" *ngFor="let dataPost of dataListPost">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_user.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">{{dataPost.user_name}}</span>
                </a>
                <br />
                <a routerLink="/detail-post/{{dataPost.post_id}}">
                    <img class="post-review-image" src="{{domain}}/{{dataPost.images[0]}}" />
                </a>
                <a routerLink="/detail-post/{{dataPost.post_id}}">
                    <h6 class="a-post-title">{{dataPost.title}}</h6>
                </a>
                <div class="a-post-detail">
                    <!-- <i class="fa fa-eye" aria-hidden="true"></i> 1234 -->
                    <!-- <i class="fa fa-commenting" aria-hidden="true"></i> {{dataPost.countComment/2}} quan tâm -->
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">{{dataPost.created_at}}</span>
                    <i class="fa fa-check-square-o"
                        style="margin-left: 35px; margin-right: 5px;"></i>{{dataPost.countRating}}
                    đánh
                    giá
                    <span class="text-primary" style="font-size: 25px; margin-left: 10px; padding-top: 8px;">
                        <ngb-rating [max]="5" style="color: rgb(255, 0, 0);" [(rate)]="dataPost.avgPoint"
                            [readonly]="false">
                        </ngb-rating>
                    </span>
                </div>

                <div style="padding: 10px 0 10px 0;" class="text-center css-detail">
                    <a class="link-manga"
                        style="background: linear-gradient(#ffe10d, #b4ff00); border-radius: 20px;font-size: 18px;padding: 3px 25px;"
                        routerLink="/detail-post/{{dataPost.post_id}}">
                        <span class="blink_me">＞＞</span>
                        <span>Xem Bài Viết</span>
                        <span class="blink_me">＜＜</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="post-review-footer" class="row col-md-12 text-center">
        <div class="col-md-5"></div>
        <button class="text-center col-md-2" style="width: 100px;" type="button" routerLink="/post">Xem thêm</button>
        <div class="col-md-5"></div>
    </div>
</div>
<!-- end post review -->

<!-- start place -->
<div id="place">
    <div id="header-place">
        <h3>Điểm đến nổi bật</h3>
        <h6>Tổng hợp các điểm đến nổi tiếng của các tỉnh thành</h6>
    </div>
    <div class="row" style="padding-left: 37px; ">
        <div style="padding-bottom: 20px;" class="col-md-3" *ngFor="let dataProvince of dataListProvince">
            <div class="place-image" routerLink="/province/detail/{{dataProvince.province_id}}">
                <a><img src="{{domain}}/{{dataProvince.image}}"></a>
                <h5 style="color: #ffffff;;padding-top: 180px;font-size: 30px;">{{dataProvince.province_name}}
                </h5>
            </div>
        </div>
    </div>
    <div id="place-footer">
        <button type="button" routerLink="/province">Xem thêm</button>
    </div>
</div>
<!-- end place -->