<!-- start search banner -->
<div id="search-banner">
    <h2 id="banner-title">Nhiều thông tin hơn - trải nghiệm tốt hơn</h2>
    <div id="search-form">
        <div id="search-input">
            <p class="icon-marker"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <input type="text" class="form-control search-input-text" id="" placeholder="Nhập nơi bạn muốn đến ...">
            <button class="btn-search">Tìm kiếm</button>
        </div>
    </div>
</div>
<!-- end search banner -->

<!-- start slogan -->
<div id="slogan">
    <div class="row">
        <div class="col-md-3">
            <i class="fa fa-map-marker slogan-icon" aria-hidden="true"></i>
            <h3 class="slogan-header">Tìm địa điểm</h3>
            <p class="slogan-text">Tìm các bài viết review về các địa điểm mà bạn muốn đến</p>
        </div>
        <div class="col-md-3">
            <i class="fa fa-calendar slogan-icon" aria-hidden="true"></i>
            <h3 class="slogan-header">Lên lịch trình</h3>
            <p class="slogan-text">Dễ dàng tạo, sửa đổi lịch trình chuyến đi của chính mình</p>
        </div>
        <div class="col-md-3">
            <i class="fa fa-plus-square slogan-icon" aria-hidden="true"></i>
            <h3 class="slogan-header">Đăng bài</h3>
            <p class="slogan-text">Đăng bài review cho người khác sau khi đã trải nghiệm</p>
        </div>
        <div class="col-md-3">
            <a class="css-a" routerLink="/product">
                <i class="fa fa-cart-plus slogan-icon" aria-hidden="true"></i>
                <h3 class="slogan-header">Mua sản phẩm</h3>
                <p class="slogan-text">Mua các sản phẩm cần thiết cho chuyến đi của bạn</p>
            </a>
        </div>
    </div>
</div>
<!-- end slogan -->

<!-- <div id="location">
    <div class="row">
        <div class="col-md-3 location-content">
            <p><a href="#">Hà Nội</a></p>
            <p><a href="#">Ninh Bình</a></p>
            <p>Hà Giang</p>
        </div>
        <div class="col-md-3 location-content">
            <p>Nghệ An</p>
            <p>Huế</p>
            <p>Đà Nẵng</p>
        </div>
        <div class="col-md-3 location-content">
            <p>Đà Nẵng</p>
            <p>Hội An</p>
            <p>Phú Yên</p>
        </div>
        <div class="col-md-3 location-content">
            <p>Vũng Tàu</p>
            <p>Hồ Chí Minh</p>
            <p>Xem thêm ... </p>
        </div>
    </div>
</div> -->
<!-- start post review -->
<div id="post-review">
    <div id="post-review-header">
        <h3>Bài viết gần đây</h3>
        <h6>Một cái nhìn chân thật từ những người đã trải nghiệm</h6>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_login.PNG" />
                </a>
                <a href="">
                    <span class="a-post-fullname">Nguyễn Văn A</span>
                </a>
                <br />
                <a href="">
                    <img class="post-review-image" src="../../assets/img/search-banner.png" />
                </a>
                <a href="#">
                    <h6 class="a-post-title"> Mãn nhãn với "đêm rạng đom đóm" siêu lung linh ở Ninh Bình</h6>
                </a>
                <div class="a-post-detail">
                    <i class="fa fa-eye" aria-hidden="true"></i> 1234
                    <i class="fa fa-commenting" aria-hidden="true"></i> 123
                    <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                    <span class="post-review-date">20-4-12 14:42 AM</span>
                </div>
                <p class="a-post-text">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
        </div>
    </div>
    <div id="post-review-footer">
        <button type="button">Xem thêm</button>
    </div>
</div>
<!-- end post review -->

<!-- start place -->
<div id="place">
    <div id="header-place">
        <h3>Điểm đến nổi bậc</h3>
        <h6>Tổng hợp các điểm đến nổi tiếng của các tỉnh thành</h6>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="place-image">
                <a href=""><img src="../../assets/img/search-banner.png"></a>
                <h5>Huế</h5>
            </div>
        </div>
    </div>
    <div id="place-footer">
        <button type="button">Xem thêm</button>
    </div>
</div>
<!-- end place -->