<div class="member-list-post">
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <fieldset class="css-fieldset">
                    <legend class="col-md-12">DANH SÁCH BÀI ĐĂNG</legend>
                    <div class="css-h row col-md-12 table-responsive">
                        <table class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                            <thead>
                                <tr style="background-color: #21ca48;">
                                    <th width="10%">STT</th>
                                    <th width="75%">Tiêu đề bài viết</th>
                                    <th width="15%">Xem chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td><button type="button " routerLink="/member/posts/detail"
                                            class="btn btn-info ">Xem
                                            chi
                                            tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>