<div class="member-list-post">
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <fieldset class="css-fieldset">
                    <legend class="col-md-12">QUẢN LÝ BÀI VIẾT</legend>
                    <div style="margin-top: 30px; margin-bottom: 30px;" class="row col-md-12">
                        <div class="col-md-2">

                        </div>
                        <form class="col-md-8" [formGroup]="searchPostForm" (ngSubmit)="searchPost()">
                            <div class="row">
                                <div class="col-md-3">
                                    <label><input type="checkbox" formControlName="bai_duyet">Bài đã duyệt</label>
                                </div>
                                <div class="col-md-3">
                                    <label><input type="checkbox" formControlName="bai_chua_duyet">Bài chờ duyệt</label>
                                </div>  
                                <div class="col-md-3">
                                    <label><input type="checkbox" formControlName="bai_huy">Bài bị hủy</label>
                                </div>    
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                                </div>
                            </div>
                        </form>  
                        <div class="col-md-2">
                            <button type="submit" routerLink="/member/post/new" class="btn btn-primary">Thêm Bài
                                Viết</button>
                        </div>
                    </div>
                    <div class="css-h row col-md-12 table-responsive">
                        <table class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                            <thead>
                                <tr style="background-color: #21ca48;">
                                    <th width="10%">STT</th>
                                    <th width="75%">Tiêu đề bài viết</th>
                                    <th width="15%">Xem chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let post of dataListPost  ; let i = index" [attr.data-index]="i">
                                    <td>{{ i+1 }}</td>
                                    <td>{{post.title}}</td>
                                    <td>
                                        <button type="button " routerLink="/member/post/detail/{{post.post_id}}"
                                            class="btn btn-info ">Xem
                                            chi
                                            tiết
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>