<div class="container">
    <div class="css-login row">
        <div class="css-login-body col-md-6 mt-5 mx-auto">
            <div *ngIf="notifyMessage" class="alert alert-success">
                {{notifyMessage}}
            </div>
            <h1 class="h3 mb-3 fpnt-weight-normal">Vui Lòng Đăng Nhập</h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="nhập email" />
                    <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
                        <div *ngIf="isRequired('email')">
                            Yêu cầu nhập Email .
                        </div>
                        <div *ngIf="loginForm.controls['email'].errors.pattern">
                            Yêu cầu nhập Email theo định dạng abc@gmail.com
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="nhập mật khẩu"
                        required />
                    <div *ngIf="isInvalidForm('password')" class="alert alert-danger">
                        <div *ngIf="isRequired('password')">
                            Yêu cầu nhập mật khẩu .
                        </div>
                        <div *ngIf="loginForm.controls['password'].errors.pattern">
                            Yêu cầu nhập mật khẩu ít nhất 5 ký tự
                        </div>
                    </div>
                </div>
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">
                    Đăng Nhập
                </button>
                <br><br>
                <div class="form-group">
                    <H5 style="color: teal;">KHÁM PHÁ CÁC ĐỊA ĐIỂM DU LỊCH TRONG TẦM TAY BẠN</H5>
                </div>
            </form>
            <div *ngIf="errors.length > 0" class="alert alert-danger">
                <p *ngFor="let error of errors">
                    {{error.detail}}
                </p>
            </div>
        </div>
    </div>
</div>