<!-- start header -->
<div id="post-detail-header">
    <div class="container-fluid">
        <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[0]}}" class="header-img"
            style="margin-top: 10px;" />
        <div class="row">
            <div class="col-md-2 avatar">
                <a>
                    <img src="{{domain}}/{{dataDetailPost.avatar}}">
                </a>
            </div>
            <div class="col-md-8 title">
                <span style="font-size: 40px; ">{{dataDetailPost.post_title}}</span>
            </div>
        </div>
    </div>
    <div class="container header-info">
        <div class="row">
            <div class="col-md-3 person-name">
                <span>{{dataDetailPost.user_name}}</span>
            </div>
            <div class="col-md-9 create_date">
                <i class="fa fa-calendar" aria-hidden="true" style="margin-left: 280px;"></i>
                <span>{{dataDetailPost.created_at | date : "hh:mm:ss dd/MM/yyyy"}}</span>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
<!-- start body -->
<div id="post-detail-body">
    <div class="container">
        <div class="row" id="description">
            <span>{{dataDetailPost.description}}</span>
        </div>
        <div class="row" id="information">
            <div class="col-md-4">
                <label><i class="fa fa-map"></i> Tỉnh thành: </label>
                <span> {{dataDetailPost.province_name}}</span>
            </div>
            <div class="col-md-4">
                <label><i class="fa fa-map-marker"></i> Địa điểm:</label>
                <span> {{dataDetailPost.place_title}}</span>
            </div>
            <div class="col-md-4">
                <label><i class="fa fa-moon-o"></i> Số ngày: </label>
                <span> {{dataDetailPost.duration}}</span>
            </div>
            <div class="col-md-4">
                <label><i class="fa fa-clock-o"></i> Giờ mở cửa: </label>
                <span> {{dataDetailPost.date_start}}</span>
            </div>
            <div class="col-md-4">
                <label><i class="fa fa-clock-o"></i> Giờ đóng cửa: </label>
                <span> {{dataDetailPost.date_end}}</span>
            </div>
            <div class="col-md-4">
                <label><i class="fa fa-money"></i> Giá vé: </label>
                <span> {{dataDetailPost.fare}}</span>
            </div>
        </div>
        <div class="row" id="images">
            <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[1]}}"
                style="margin-right: 10px; margin-top: 5px; width: 545px; height: 409px;" />
            <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[2]}}"
                style="margin-top: 5px;width: 545px; height: 409px;" />
        </div>
        <div class="row" id="gaits">
            <div class="col-md-12 title-detail">
                <p>1. Hướng dẫn cách đi</p>
            </div>
            <div class="col-md-12">
                <p>{{dataDetailPost.gaits}}</p>
            </div>
        </div>
        <div class="row" id="items">
            <div class="col-md-12 title-detail">
                <p>2. Chuẩn bị hành lý</p>
            </div>
            <div class="col-md-12">
                <p>{{dataDetailPost.items}}</p>
            </div>
        </div>
        <div class="row" id="images">
            <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[3]}}" style="margin-right: 10px; margin-top: 5px; margin-bottom: 20px;width: 100%;
                height: 430px;" />
        </div>
        <div class="row" id="home_stay">
            <div class="col-md-12 title-detail">
                <p>3. Chỗ ở</p>
            </div>
            <div class="col-md-12">
                <p>{{dataDetailPost.home_stay}}</p>
            </div>
        </div>
        <div class="row" id="visits">
            <div class="col-md-12 title-detail">
                <p>4. Địa điểm tham quan - trải nghiệm</p>
            </div>
            <div class="col-md-12">
                <p>{{dataDetailPost.visits}}</p>
            </div>
        </div>
        <div class="row" id="images">
            <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[4]}}" style="margin-right: 10px; margin-top: 5px; margin-bottom: 20px;     width: 100%;
                height: 430px;" />
        </div>
        <div class="row" id="activitis">
            <div class="col-md-12 title-detail">
                <p>5. Ăn uống - mua sắm</p>
            </div>
            <div class="col-md-12">
                <p>{{dataDetailPost.activitis}}</p>
            </div>
        </div>
        <div class="row" id="note">
            <div class="col-md-12 title-detail">
                <p>6. Lưu ý</p>
            </div>
            <div class="col-md-12">
                <p>{{dataDetailPost.note}}</p>
            </div>
        </div>
    </div>
</div>
<!-- end body -->

<!-- rating -->
<div class="row col-md-12" style="margin-left: 80px; margin-top: 30px;">
    <div class="row col-md-12">
        <div class="col-md-2" style="margin-top: 12px;">
            <b *ngIf="currentNew ==0"> Đánh Giá Bài Viết </b>
            <b *ngIf="currentNew != 0"> Bạn Đã Đánh Giá </b>
        </div>
        <div class="col-md-8" style="padding-top: 12px;background-color: #ffff;" *ngIf="!auth.haveLogin()">
            <span> Đăng nhập để đánh
                giá !</span>
        </div>
        <div class="col-md-2" *ngIf="auth.haveLogin()">
            <span class="text-primary" style="font-size: 30px; margin-left: 15px; margin-top: 4px;"
                *ngIf=" currentNew == 0">
                <ngb-rating [max]="5" style="color: rgb(255, 0, 0);" [(rate)]="currentRate" (rate)="onRate($event)"
                    (change)="rate($event)" [readonly]="false">
                </ngb-rating>
            </span>
            <span class="text-primary" style="font-size: 30px; margin-left: 15px; margin-top: 4px;"
                *ngIf="currentNew != 0">
                <ngb-rating [max]="5" style="color: rgb(255, 0, 0);" [(rate)]="currentNew" (rate)="onRate($event)"
                    (change)="rate($event)" [readonly]="false">
                </ngb-rating>
            </span>
        </div>
        <div class="col-md-2" *ngIf="auth.haveLogin()">
            <span *ngIf="currentNew ==0">
                <button class="btn btn-success hoverSubmit" type="button" (click)="submitRating()">Gửi</button>
            </span>
            <span *ngIf="currentNew !=0">
                <button class="btn btn-success hoverUpdate" type="button" (click)="updateRating()">Sửa</button>
            </span>
        </div>
    </div>
</div>
<!-- end rating -->

<!-- start commnent -->
<div id="post-detail-comment">
    <div class="container">
        <div class="row">
            <form class="row col-md-12" [formGroup]="createCommentForm" (ngSubmit)="createConment()">
                <div class="col-md-1 comment-avatar">
                    <img src="../../../assets/img/img_user.PNG">
                </div>
                <!-- <div *ngIf="auth.haveLogin()" class="col-md-1">
                    {{user.user_name}}
                </div> -->
                <div class="col-md-9 comment-content">
                    <input type="text" style="padding-left: 20px;" formControlName="content"
                        placeholder="    Viết một bình luận ..." *ngIf="auth.haveLogin(); else elseBlock">
                    <ng-template #elseBlock>
                        <input type="text" style="padding-left: 20px;" formControlName="content"
                            placeholder="    Bạn phải đăng nhập để bình luận ..." disabled>
                    </ng-template>
                </div>
                <div class="col-md-2">
                    <button [disabled]="!createCommentForm.valid" class="col-md-12" type="submit"
                        class="btn btn-success hoverCmt" *ngIf="auth.haveLogin()">
                        Bình luận
                    </button>
                </div>
            </form>
        </div>
        <div style="height: 300px;overflow-y: scroll; background-color: white;">
            <div class="row col-md-12">
                <b>Tất cả bình luận</b>
            </div>
            <div class="row" id="list-comment" *ngFor="let lc of dataListComment ; let i = index" [attr.data-index]="i">
                <div class="row col-md-12" id="updateConment" *ngIf="lc.user_id==user?.user_id " style="display: none;">
                    <input type="text" class="col-md-4 form-control" id="content"
                        style="padding-left: 20px;width: 50%; margin-right: 10px; float: left; margin-left: 20px;"
                        *ngIf="auth.haveLogin()" [value]="content">
                    <button type="submit" class="btn btn-success hoverUpdateCmt" *ngIf="auth.haveLogin()"
                        (click)="updateCMT()">
                        Cập nhật
                    </button>
                    <button type="submit" class="btn btn-danger hoverCancelCmt" *ngIf="auth.haveLogin()"
                        (click)="cancel()" style="margin-left: 10px;">
                        Hủy
                    </button>
                </div>
                <div class="col-md-1 comment-avatar">
                    <img src="{{domain}}/{{lc.avatar}}">
                </div>
                <div class="col-md-11 list-comment-content">
                    <div>
                        <span class="comment-user">{{lc.user_name}}</span>
                        <span class="comment-date">{{lc.created_at | date : "hh:mm:ss dd/MM/yyyy"}}</span>
                    </div>
                    <div class="comment-user-content">
                        {{lc.content}}
                        <a type="button" style="text-decoration: none; color: red;" (click)="commentDeleteIndex = i"
                            *ngIf="commentDeleteIndex !== i && auth.haveLogin()">
                            <i *ngIf="lc.user_id==user?.user_id" class="fa fa-trash">
                            </i>
                        </a>
                        <a (click)="openUpdateComment(lc.comment_id,lc.content)" type="button" *ngIf="auth.haveLogin()"
                            style="text-decoration: none; color: rgb(38, 218, 98); margin-left: 5px;">
                            <i *ngIf="lc.user_id==user?.user_id" aria-hidden="true" class="fa fa-pencil-square-o">
                            </i>
                        </a>
                        <div *ngIf="commentDeleteIndex === i">
                            <p class="confirm-mesage">BẠN CÓ MUỐN XÓA KHÔNG ?</p>
                            <button (click)="deleteComment(lc.comment_id)" style="width: 80px; margin-right: 5px;"
                                class="btn btn-success">CÓ
                            </button>
                            <button style="width: 80px; " (click)="commentDeleteIndex = undefined"
                                class="btn btn-danger">Không</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="height: 300px; overflow-y: scroll;background-color: white;">
            <div class="row col-md-12">
                <b>Tất cả đánh giá</b>
            </div>
            <div class="row" id="list-comment" *ngFor="let ra of dataListrate">
                <div class="col-md-1 comment-avatar">
                    <img src="{{domain}}/{{ra.avatar}}">
                </div>
                <div class="col-md-11 list-comment-content">
                    <div>
                        <span class="comment-user">{{ra.user_name}}</span>
                        <span class="comment-date">{{ra.created_at | date : "hh:mm:ss dd/MM/yyyy"}}</span>
                    </div>
                    <div class="comment-user-content">
                        <span class="text-primary" style="font-size: 30px; margin-left: 15px; margin-top: 4px;">
                            <ngb-rating [max]="5" style="color: rgb(255, 0, 0);" [(rate)]="ra.point"
                                (rate)="onRate($event)" (change)="rate($event)" [readonly]="false">
                            </ngb-rating>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- end comment -->