<div class="body-product">
    <div class="row">
        <div class=" col-md-12">
            <fieldset class="css-fieldset">
                <legend class="col-md-12">QUẢN LÝ BÀI VIẾT</legend>
                <div class="css-h row col-md-12">
                    <table class="manager-post-table">
                        <thead>
                            <td width="10%">STT</td>
                            <td width="20%">Tên người đăng</td>
                            <td width="60%">Tiêu đề bài viết</td>
                            <td width="10%">Xem chi tiết</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td><button type="button " class="btn btn-info ">Xem chi tiết</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <div>

            </div>
        </div>
    </div>
</div>