<div id="post-review" class="row">
    <div class="row col-md-12">
        <div class="col-md-12" *ngIf="!dataDetailCollection[0]" style="background-color: #ffff;">
            <h3>
                Bộ sưu tập không có địa điểm nào !
            </h3>
        </div>
        <div class="col-md-6" *ngFor="let data of dataDetailCollection ; let i = index" [attr.data-index]="i"
            style="margin-top: 50px;">
            <div class="a-post-review">
                <a href="">
                    <img class="post-review-avatar" src="../../assets/img/img_place.PNG" />
                </a>
                <br />
                <a routerLink="/place/detail/{{data.famous_place_id}}">
                    <img class="post-review-image" src="{{domain}}/{{data.images[0]}}" />
                </a>
                <a class="row col-md-12">
                    <h6 class="a-post-title col-md-5">
                        {{data.title}}
                    </h6>
                    <div class="a-post-detail col-md-7" style="margin-top: 10px;">
                        <i class="fa fa-calendar-check-o a-post-calendar" aria-hidden="true"></i>
                        <span class="post-review-date">
                            {{data.date_start}}
                        </span>
                        <span class="post-review-date">
                            {{data.date_end}}
                        </span>
                    </div>
                </a>

                <div>
                    {{data.description}} ...
                </div>
                <div style="padding: 10px 0 10px 0;" class="text-center css-detail">
                    <a class="link-manga" routerLink="/place/detail/{{data.famous_place_id}}"
                        style="background: linear-gradient(#ffe10d, #b4ff00); border-radius: 20px;font-size: 18px;padding: 3px 25px;">
                        <span class="blink_me">＞＞</span>
                        <span>Xem Chi Tiết</span>
                        <span class="blink_me">＜＜</span>
                    </a>
                </div>
                <div>
                    <a type="button" style="text-decoration: none; color: red;" (click)="collectionPlaceIndex = i"
                        *ngIf="collectionPlaceIndex !== i">
                        <i class="fa fa-trash">
                            xóa
                        </i>
                    </a>
                    <div *ngIf="collectionPlaceIndex === i">
                        <p class="confirm-mesage">BẠN CÓ MUỐN XÓA KHÔNG ?</p>
                        <button (click)="deletePlaceCollection(data.famous_place_id)"
                            style="width: 80px; margin-right: 5px;" class="btn btn-success">CÓ
                        </button>
                        <button style="width: 80px; " (click)="collectionPlaceIndex = undefined"
                            class="btn btn-danger">Không</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>