<div class="member-list-post">
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <fieldset class="css-fieldset">
                    <legend class="col-md-12">Danh Sách Bộ Sưu Tập</legend>
                    <div style="margin-top: 30px; margin-bottom: 30px;" class="row col-md-12">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <button type="submit" routerLink="/member/collection/new" class="btn btn-primary">Thêm Bộ
                                Sưu Tập</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="a-post-review" style="width: 100%;height: 200px;border: 1px solid;">
                                <a>
                                    <img class="post-review-image" />
                                </a>
                                <a>
                                    <h6 class="a-post-title">title</h6>
                                </a>
                                <div style="padding: 10px 0 10px 0;" class="text-center css-detail">
                                    <a class="link-manga"
                                        style="background: linear-gradient(#ffe10d, #b4ff00); border-radius: 20px;font-size: 18px;padding: 3px 25px;">
                                        <span class="blink_me">＞＞</span>
                                        <span>Xem Bộ Sưu Tập</span>
                                        <span class="blink_me">＜＜</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>