<div class="member-list-post">
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <fieldset class="css-fieldset">
                    <legend class="col-md-12">Danh Sách Bộ Sưu Tập</legend>
                    <div class="row col-md-12 css-he">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <button type="submit" style="width: 100px;" routerLink="/member/collection/new"
                                class="btn btn-primary">Thêm Bộ
                                Sưu Tập</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px; margin-bottom: 30px;">
                        <div class="col-md-4" *ngFor="let data of dataListCollection">
                            <div class="a-post-review css-div">
                                <a>
                                    <h4 class="a-post-title text-center css-h4">{{data.collection_name}}</h4>
                                    <p class="a-post-title text-center" style="padding-top: 20px; padding-left: 10px;">
                                        Ngày Tạo: {{data.created_at | date : "dd/MM/yyyy"}}</p>
                                </a>
                                <div style="padding: 25px 0 10px 0;" class="text-center css-detail">
                                    <a routerLink="/member/collection/detail/{{data.collection_id}}" class="link-manga"
                                        style="background: linear-gradient(#ffe10d, #b4ff00); border-radius: 20px;font-size: 18px;padding: 3px 25px;text-decoration: none;">
                                        <span class="blink_me">＞＞</span>
                                        <span>Xem Chi Tiết</span>
                                        <span class="blink_me">＜＜</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>