<div class="member-list-post">
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <fieldset class="css-fieldset" style="background-color: #ffff;">
                    <legend class="col-md-12" style="background-color: #ffff;">Danh Sách Bộ Sưu Tập</legend>
                    <div class="row col-md-12 css-he">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <button type="submit" style="width: 145px; height: 70px;" routerLink="/member/collection/new"
                                class="btn btn-success hoverCreate">Thêm Bộ
                                Sưu Tập</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px; margin-bottom: 30px;height: 1000px;
                    overflow-y: scroll;background-color: #ffff;padding-top: 20px;">
                        <div class="col-md-4" style="margin-bottom: 80px;"
                            *ngFor="let data of dataListCollection ; let i = index" [attr.data-index]="i">
                            <div class="a-post-review css-div">
                                <a>
                                    <h4 class="a-post-title text-center css-h4">
                                        {{data.collection_name}}

                                    </h4>
                                    <p class="a-post-title text-center" style="padding-top: 20px; padding-left: 10px;">
                                        Ngày Tạo: {{data.created_at | date : "dd/MM/yyyy"}}</p>
                                </a>

                                <div style="padding: 15px 0 10px 0;" class="text-center css-detail">
                                    <a routerLink="/member/collection/detail/{{data.collection_id}}" class="link-manga"
                                        style="background: linear-gradient(#ffe10d, #b4ff00); border-radius: 20px;font-size: 18px;padding: 3px 25px;text-decoration: none;">
                                        <span class="blink_me">＞＞</span>
                                        <span>Chi Tiết</span>
                                        <span class="blink_me">＜＜</span>
                                    </a>
                                </div>
                                <div class="row col-md-12">
                                    <a type="button" routerLink="/member/collection/update/{{data.collection_id}}"
                                        style="text-decoration: none;padding-left: 85px;    margin-right: 13px; color: rgb(7, 121, 5);">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> sửa
                                    </a>
                                    <a type="button" style="text-decoration: none; color: red;"
                                        (click)="postDeleteIndex = i" *ngIf="postDeleteIndex !== i">

                                        <i class="fa fa-trash" aria-hidden="true"></i>xóa
                                    </a>
                                    <div *ngIf="postDeleteIndex === i">
                                        <p class="confirm-mesage">BẠN CÓ MUỐN XÓA KHÔNG ?</p>
                                        <button (click)="deleteCollection(data.collection_id)"
                                            style="width: 80px; margin-right: 5px;" class="btn btn-success">CÓ
                                        </button>
                                        <button style="width: 80px; " (click)="postDeleteIndex = undefined"
                                            class="btn btn-danger">Không</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>