<div class="member-create-new-post">
    <div class="container">
        <form>
            <div class="row">
                <div class="form-group col-md-12">
                    <label><i class="fa fa-tags"></i> Nhập tiêu đề bài viết</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label><i class="fa fa-map-marker"></i> Tên địa điểm</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label><i class="fa fa-map"></i> Tỉnh thành</label>
                    <select class="form-control">
                        <option selected>--Chọn tỉnh--</option>
                        <option value="1 ">One</option>
                        <option value="2 ">Two</option>
                        <option value="3 ">Three</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label><i class="fa fa-times-circle"></i> Thời gian đi</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label><i class="fa fa-hourglass-half"></i> Thời gian phục vụ</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label><i class="fa fa-ticket"></i> Giá vé vào cổng</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label><i class="fa fa-image"></i> Chọn ảnh</label>
                    <input type="file">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label><i class="fa fa-automobile"></i> Hướng dẫn cách đi</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label><i class="fa fa-suitcase"></i> Chuẩn bị hành lý</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label><i class="fa fa-hotel"></i> Giới thiệu chỗ ở</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label><i class="fa fa-location"></i> Địa điểm tham quan - trải nghiệm</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label><i class="fa fa-shopping-basket"></i> Ăn uống - mua sắm</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label><i class="fa fa-sticky-note"></i> Ghi chú</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Tạo bài viết</button>
        </form>
    </div>
</div>