<div class="body-product">
    <div class="row">
        <div class=" col-md-12">
            <fieldset class="css-fieldset">
                <legend class="col-md-12">QUẢN LÝ SẢN PHẨM</legend>
                <div class="css-h row col-md-12">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                        <input class="css_inp" type="text" placeholder="tìm kiếm sản phẩm" id="" name="product_name" />
                    </div>
                    <div class="col-md-2">
                        <select class="css_inp" id="idDM">
                            <option value="tenDM">Danh Mục</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" routerLink="/manager/new" class="btn btn-primary">Thêm Mới</button>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Hình Ảnh</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Giá</th>
                                <th>Danh Mục</th>
                                <th>Trạng Thái</th>
                                <th>Số Lượng</th>
                                <th class="text-center">Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>田中</td>
                                <td>田中</td>
                                <td>田中</td>
                                <td>田中</td>
                                <td>田中</td>
                                <td>田中</td>
                                <td>田中</td>
                                <td>
                                    <button type="submit" class="css-b btn btn-info">Chi Tiết</button>
                                    <button type="submit" class="css-b btn btn-primary">Sửa</button>
                                    <button type="submit" class="css-b btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </fieldset>
            <div>

            </div>
        </div>
    </div>

</div>