<div class="body-product">
    <div class="row" style="margin-top: 42px;">
        <div class=" col-md-12">
            <fieldset class="css-fieldset">
                <legend class="col-md-12">THÊM BỘ SƯU TẬP</legend>
                <div class="css-h row col-md-12">
                    <form [formGroup]="createCollectionForm" (ngSubmit)="createCollection()">
                        <div class="row col-md-12 pd-t ">
                            <span class="col-md-4 text-center"><b>Bước 1: </b>Nhập Tên Bộ Sưu Tập</span>
                            <input class="css_inp col-md-8 " type="text" placeholder="nhập tên bộ sưu tập" id=""
                                formControlName="collection_name" />
                            <div *ngIf="isInvalidForm('collection_name')" class="alert alert-danger col-md-12">
                                <div *ngIf="isRequired('collection_name')">
                                    Yêu cầu nhập tên bộ sưu tập .
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 create-trip-detail-nav">
                            <div class="row">
                                <div class="col-md-4 col-sm-7 col-lg-4 text-center" style="line-height: 40px;">
                                    <span><b>Bước 2:</b> Chọn tỉnh</span>
                                </div>
                                <div class="col-md-8 col-sm-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-md-5 text-center" style="line-height: 40px;">
                                            <span><b>Bước 3:</b> Chọn địa điểm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- start body -->
                        <div class="col-md-12 create-trip-detail-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-lg-4" id="trip-center">
                                    <div class="trip-center-header">
                                        <div class="header-place">
                                            <div class="title-jouney">
                                                <span class="row">
                                                    <form class="row col-md-12" [formGroup]="getPlaceForm"
                                                        (ngSubmit)="getPlaceByProvince()">
                                                        <select class="col-md-7"
                                                            style="margin-left:10px; width: 135px; padding-left: 5px;"
                                                            class="form-control" title="--- Chọn tỉnh ---"
                                                            formControlName="province_id">
                                                            <option *ngFor="let pro of dataListProvince"
                                                                value="{{pro.province_id}}">
                                                                {{pro.province_name}}
                                                            </option>
                                                        </select>
                                                        <button style="margin-left: 5px;"
                                                            class="btn btn-success col-md-3" type="submit">tìm</button>
                                                    </form>
                                                </span>
                                            </div>
                                            <!-- danh sách địa điểm được chọn -->
                                            <div class="list-places">
                                                <div class="list-places-day">
                                                    <div class="item-place">
                                                        <div class="item" *ngFor="let pla of data">
                                                            <span class="icon"></span>
                                                            <span class="name">
                                                                {{pla.title}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- danh sách -->
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-8" id="trip-right">
                                    <div id="province-in-plan">
                                        <div class="recommend-points">
                                            <div class="header-province">
                                                {{province_name}}
                                            </div>
                                            <div class="row">
                                                <form class="row" [formGroup]="arrayForm" (ngSubmit)="submitFormArray()"
                                                    novalidate>
                                                    <div class="row" style="margin-left: 20px;margin-right: 20px;">
                                                        <div class="col-md-6 col-sm-6 col-6 recommend-point"
                                                            *ngFor="let place of dataListPlace ; let i=index">
                                                            <div class="recommend-image">
                                                                <img src="{{domain}}/{{place.images[0]}}" class="image">
                                                                <div class="middle">
                                                                    <!-- fa fa-plus-circle -->
                                                                    <i class=" " aria-hidden="true">
                                                                        <input type="checkbox"
                                                                            [value]="place.famous_place_id"
                                                                            style="width: 25px;height: 25px;"
                                                                            (change)="onCheckboxChange($event)">
                                                                    </i>
                                                                </div>
                                                            </div>
                                                            <div class="recommend-title">
                                                                {{place.title}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="error"
                                                        *ngIf="this.arrayForm.controls['checkArray'].errors?.required">
                                                        Vui long chon dia diem.
                                                    </p>
                                                    <!-- <button type="submit" class="btn btn-success col-md-2">sunmit</button> -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end body -->

                        <div class="row col-md-12 css-bu">
                            <div class="col-md-5">
                            </div>
                            <button type="submit" [disabled]="!createCollectionForm.valid"
                                class="btn btn-success col-md-2">Hoàn Thành</button>
                            <button type="button" routerLink="/member/collection/list"
                                class="btn btn-secondary col-md-2" style="margin-left: 5px;">Hủy</button>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>

</div>