<div class="manager-post-detail">
    <div class="container">
        <fieldset class="css-fieldset">
            <legend class="col-md-12">QUẢN LÝ BÀI VIẾT
                <form [formGroup]="duyetOrHuyForm" (ngSubmit)="duyetOrHuy()">
                    <div class="row">
                        <div class="col-md-8"></div>
                        <label style="margin-right: 15px;"><input type="checkbox" formControlName="approved">Duyệt
                            Bài</label>
                        <label style="margin-right: 15px; color: red;"><input type="checkbox"
                                formControlName="notApproved">Hủy
                            Bài</label>
                        <button type="submit" class="btn btn-success manager-post-detail-approved">Thực Hiện
                        </button>
                    </div>
                </form>
            </legend>
            <div class="row">
                <div class="css-h row col-md-5 manager-post-detail-left">
                    <div class="col-md-12 post-detail-title">
                        <h6>1. Tiêu đề bài viết</h6>
                        <p>{{dataDetailPost.post_title}}</p>
                    </div>
                    <div class="col-md-12 post-detail-location">
                        <h6>2. Tên địa điểm</h6>
                        <p>{{dataDetailPost.place_title}}</p>
                    </div>
                    <div class="col-md-12 post-detail-province">
                        <h6>3. Tình thành</h6>
                        <p>{{dataDetailPost.province_name}}</p>
                    </div>
                    <div class="col-md-12 post-detail-duration">
                        <h6>4. Thời gian</h6>
                        <p>{{dataDetailPost.duration}}</p>
                    </div>
                    <div class="col-md-12 post-detail-uptime">
                        <h6>5. Thời gian phục vụ</h6>
                        <p>{{dataDetailPost.date_start}} - {{dataDetailPost.date_end}}</p>
                    </div>
                    <div class="col-md-12 post-detail-fare">
                        <h6>6. Giá vé vào cổng</h6>
                        <p>{{dataDetailPost.fare}}</p>
                    </div>
                    <div class="col-md-12 post-detail-image">
                        <h6>7. Hình ảnh của địa điểm</h6>
                        <div class="row" style="margin-right: 10px;margin-bottom: 10px;">
                            <div class="col-md-4">
                                <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[0]}}"
                                    style="height: 100px;width: 100px;" />
                            </div>
                            <div class="col-md-4">
                                <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[1]}}"
                                    style="height: 100px;width: 100px;" />
                            </div>
                            <div class="col-md-4">
                                <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[2]}}"
                                    style="height: 100px;width: 100px;" />
                            </div>
                        </div>
                        <div class="row" style="margin-right: 10px;">
                            <div class="col-md-4">
                                <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[3]}}"
                                    style="height: 100px;width: 100px;" />
                            </div>
                            <div class="col-md-4">
                                <img *ngIf="dataDetailPost.images" src="{{domain}}/{{dataDetailPost.images[4]}}"
                                    style="height: 100px;width: 100px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-h row col-md-7 manager-post-detail-right">
                    <div class="col-md-12 post-detail-tutorial">
                        <h6>Hướng dẫn cách đi</h6>
                        <p>
                            {{dataDetailPost.gaits}}
                        </p>
                    </div>
                    <div class="col-md-12 post-detail-luggage">
                        <h6>Hành lý</h6>
                        <p>
                            {{dataDetailPost.items}}
                        </p>
                    </div>
                    <div class="col-md-12 post-detail-accommodation">
                        <h6>Chỗ ở</h6>
                        <p>
                            {{dataDetailPost.home_stay}}
                        </p>
                    </div>
                    <div class="col-md-12 post-detail-experience">
                        <h6>Địa điểm tham quan - trải nghiệm</h6>
                        <p>
                            {{dataDetailPost.visits}}
                        </p>
                    </div>
                    <div class="col-md-12 post-detail-eating">
                        <h6>Ăn uống- mua sắm</h6>
                        <p>{{dataDetailPost.activitis}}</p>
                    </div>
                    <div class="col-md-12 post-detail-note">
                        <h6>Ghi chú</h6>
                        <p>{{dataDetailPost.note}}</p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>