<!-- start list schedule -->
<div id="schedule" style="background-color: #ffff;">
    <div style="text-align: center;" id="header-schedule">
        <h3>Lịch Trình Tham Gia</h3>
        <h6>Tổng hợp các lịch trình bạn được mời từ khi bạn tham gia website của chúng tôi.</h6>
    </div>

    <div class="" id="body" style="background-color: #ffff;">
        <div class="row" *ngFor="let data of dataListSchedule ; let i = index" [attr.data-index]="i"
            style="margin-bottom: 15px;padding-top: 10px;border: 1px solid #d6b3b37e;">
            <div class="col-md-3">
                <a routerLink="/member/schedule/detail/{{data.trip_id}}">
                    <img width="180px" height="200px" src="../../../../assets/img/img_lịch_trinh.PNG" alt="">
                </a>
            </div>
            <div class="col-md-9">
                <div class="row col-md-12">
                    <div class="col-md-5" style="border-right: 1px solid #bfabab;">
                        <h4>
                            {{data.trip_name}}
                        </h4>
                        <br>
                        <span>{{data.description}}</span><br>
                        <span>
                            Ngày đi: {{data.day_start | date : "dd/MM/yyyy"}}
                        </span><br>
                        <span>
                            Ngày về: {{data.day_end | date : "dd/MM/yyyy"}}
                        </span><br>
                    </div>
                    <div class="col-md-7">
                        <!-- <div>
                            <span>Người tạo : {{data.user_name}}</span><br>
                            <span>Người tham gia :</span>
                            <select class="form-control" style="width: 140px; float: right;" name="" id="">
                                <option *ngFor="let f of data.friends" value="{{f}}">
                                    {{f}}
                                </option>
                            </select>
                        </div> -->
                        <br>
                        <div style="margin-top: 17px; margin-left: 20px; list-style: none;">
                            <div>
                                <span style="font-weight: normal;color: #D02028; text-decoration: none;"><span
                                        style="font-weight: bold;color: #333;">Đăng lúc:
                                    </span>{{data.created_at}}</span>
                            </div>

                            <!-- <a type="button" routerLink="/member/schedule/update/{{data.trip_id}}"
                                style="text-decoration: none;">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> cập nhật
                            </a> -->
                            <br>
                            <a type="button" routerLink="/member/schedule/detail/{{data.trip_id}}"
                                style="text-decoration: none;">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> chi tiết
                            </a>

                            <div>
                                <!-- <a type="button" style="text-decoration: none; color: red;"
                                    (click)="postDeleteIndex = i" *ngIf="postDeleteIndex !== i">
                                    <i class="fa fa-trash" aria-hidden="true"></i>xóa
                                </a>

                                <div *ngIf="postDeleteIndex === i">
                                    <p class="confirm-mesage">BẠN CÓ MUỐN XÓA KHÔNG ?</p>
                                    <button (click)="deleteSchedule(data.trip_id)"
                                        style="width: 80px; margin-right: 5px;" class="btn btn-success">CÓ
                                    </button>
                                    <button style="width: 80px; " (click)="postDeleteIndex = undefined"
                                        class="btn btn-danger">Không</button>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- end list schedule -->