<div class="right-info-user">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="css-fieldset">
                    <legend class="col-md-12"> CẬP NHẬT THÔNG TIN CÁ NHÂN</legend>
                    <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
                        <div class="col-md-12">
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Họ tên</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="full_name" formControlName="full_name" value="{{dataDetailUser.full_name}}" />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Tên tài khoản</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="user_name" formControlName="user_name" value="{{dataDetailUser.user_name}}" />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Email</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="email" formControlName="email" value="{{dataDetailUser.email}}" disabled/>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Ngày sinh</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="date_of_birth" formControlName="date_of_birth" value="{{dataDetailUser.date_of_birth}}" disabled/>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Quê quán</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="home_town" formControlName="home_town" value="{{dataDetailUser.home_town}}" />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Giới tính</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="gender" formControlName="gender" value="{{dataDetailUser.gender}}" disabled/>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Sở thích</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="hobbies" formControlName="hobbies" value="{{dataDetailUser.hobbies}}" />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Ngày tạo</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="created_at" formControlName="created_at" value="{{dataDetailUser.created_at}}" disabled/>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Ảnh đại diện</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="file" (change)="onFileSelect($event)" name="profile" multiple />
                                </div>
                            </div>
                            <div id="btnUpdateUser">
                                <button routerLink="/member/info/update/{{dataDetailUser.user_id}}" style="width: 120px;">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>