<div class="right-info-user">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="css-fieldset">
                    <legend class="col-md-12"> CẬP NHẬT THÔNG TIN CÁ NHÂN</legend>
                    <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
                        <div class="col-md-12">
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Họ tên</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="css-in" name="full_name" formControlName="full_name" />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Tên tài khoản</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="css-in" name="user_name" formControlName="user_name" />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Email</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="css-in" name="email" formControlName="email" disabled />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Ngày sinh</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="css-in" name="date_of_birth"
                                        formControlName="date_of_birth" disabled />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Quê quán</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="css-in" name="hometown" formControlName="hometown" />
                                </div>
                            </div>
                            <!-- <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Giới tính</span>
                                </div>

                                <div class="col-md-9">
                                    <input type="radio" class="form-check-input" id="materialUnchecked" value="1"
                                        name="gender" formControlName="gender" style="margin-left: 30px;">
                                    <label class="form-check-label" for="materialUnchecked"
                                        style="margin-left: 50px;">Nam</label>

                                    <input type="radio" class="form-check-input" id="materialChecked" value="0"
                                        name="gender" formControlName="gender" style="margin-left: 30px;" checked>
                                    <label class="form-check-label" for="materialChecked"
                                        style="margin-left: 46px;">Nữ</label>
                                </div>

                            </div> -->
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Số điện thoại</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="css-in" name="phone_number"
                                        formControlName="phone_number" />
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Địa chỉ</span>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="text-left" class="css-in" type="text" style="height: 100px;"
                                        name="address" formControlName="address">

                                    </textarea>
                                </div>
                            </div>
                            <div class="row per-info">
                                <div class="col-md-3">
                                    <span class="per-info-detail">Sở thích</span>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="text-left" class="css-in" style="height: 100px;" type="text"
                                        name="hobbies" formControlName="hobbies">

                                    </textarea>
                                </div>
                            </div>

                            <div id="btnUpdateUser">
                                <button class="btn btn-success" type="submit"
                                    routerLink="/member/info/update/{{dataDetailUser.user_id}}"
                                    style="width: 120px;">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>