<div id="all-provinces">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="header">
                <span>Danh sách tất cả các tỉnh thành</span>
            </div>
            <div class="col-md-12" id="body">
                <div class="row" style="padding-left: 37px; ">
                    <div style="padding-bottom: 20px;" class="col-md-3" *ngFor="let dataProvince of dataListProvince">
                        <div class="place-image" routerLink="/province/detail/{{dataProvince.province_id}}">
                            <a><img src="{{domain}}/{{dataProvince.image}}"></a>
                            <h5 class="css-h5"
                                style="color: #ffffff;padding-top: 160px;font-size: 30px;padding-left: 5px;">
                                {{dataProvince.province_name}}
                                <p style="font-size: 15px; padding-left: 5px;">({{dataProvince.countPlace}} điểm tham
                                    quan)</p>
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>